workflows_list.json
{"data":[{"updatedAt":"2026-02-19T12:14:17.730Z","createdAt":"2026-02-19T05:57:24.356Z","id":"1Mi5mqgkQoDvt9q1","name":"Kreativ: Save Progress (Webhook)","active":false,"isArchived":false,"nodes":[{"id":"wh-save","name":"Webhook save-progress","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"save-progress","responseMode":"onReceived","options":{}},"webhookId":"kreativ-save-progress"},{"id":"code-extract","name":"Extrair e validar dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const body = $input.item.json.body ?? $input.item.json;\nconst phone = String(body.phone ?? '').replace(/\\D/g, '');\nconst moduleId = parseInt(String(body.moduleId ?? '0'), 10);\nconst score = Math.max(0, Math.min(100, parseInt(String(body.score ?? '0'), 10)));\nconst completed = body.completed === true || body.completed === 'true';\n\nif (!phone || !moduleId) {\n  return [{ json: { error: true, message: 'phone e moduleId são obrigatórios', phone, moduleId, score, completed } }];\n}\n\nreturn [{ json: { phone, moduleId, score, completed, error: false } }];"}},{"id":"pg-update","name":"Atualizar DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,300],"parameters":{"operation":"executeQuery","query":"UPDATE students SET scores = COALESCE(scores, '{}'::jsonb) || jsonb_build_object('module_' || {{ $json.moduleId }}, {{ $json.score }}), completed_modules = CASE WHEN {{ $json.completed }} AND NOT ({{ $json.moduleId }} = ANY(COALESCE(completed_modules, '{}'))) THEN array_append(COALESCE(completed_modules, '{}'), {{ $json.moduleId }}) ELSE COALESCE(completed_modules, '{}') END, current_module = GREATEST(COALESCE(current_module, 1), {{ $json.moduleId }} + CASE WHEN {{ $json.completed }} THEN 1 ELSE 0 END), updated_at = NOW() WHERE phone = '{{ $json.phone }}' RETURNING phone, current_module, lead_score","options":{}},"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"id":"check-completed","name":"Completou Módulo?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300],"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Extrair e validar dados').item.json.completed }}","value2":true}]}}},{"id":"exec-lead-scoring","name":"Executar Lead Scoring","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[1120,200],"parameters":{"workflowId":"cj1N7ZPVoDxlI7Sk","options":{}}},{"id":"respond","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true }) }}"}}],"connections":{"Webhook save-progress":{"main":[[{"node":"Extrair e validar dados","type":"main","index":0}]]},"Extrair e validar dados":{"main":[[{"node":"Atualizar DB","type":"main","index":0}]]},"Atualizar DB":{"main":[[{"node":"Completou Módulo?","type":"main","index":0}]]},"Completou Módulo?":{"main":[[{"node":"Executar Lead Scoring","type":"main","index":0}],[{"node":"Responder","type":"main","index":0}]]},"Executar Lead Scoring":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"400e21c0-882d-43b3-9831-a815f20676dc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-19T05:57:24.356Z","createdAt":"2026-02-19T05:57:24.356Z","role":"workflow:owner","workflowId":"1Mi5mqgkQoDvt9q1","projectId":"q7Bjn5D4LxM4OjYW"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T12:14:15.811Z","createdAt":"2026-02-18T18:48:30.908Z","id":"04ZmheF5PCJr52aI","name":"BuilderBot: request-human-support","active":false,"isArchived":false,"nodes":[{"id":"wh-support","name":"Webhook request-human-support","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"request-human-support","responseMode":"responseNode","options":{}},"webhookId":"kreativ-request-human-support"},{"id":"pg-pause-bot","name":"Pausar bot e criar sessão","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,300],"parameters":{"operation":"executeQuery","query":"WITH upserted AS (\n  INSERT INTO students (phone, attendance_status)\n  VALUES ('{{ $json.body.phone }}', 'human')\n  ON CONFLICT (phone) DO UPDATE\n    SET attendance_status = 'human', updated_at = NOW()\n  RETURNING id\n)\nINSERT INTO support_sessions (student_id, reason)\nSELECT id, '{{ ($json.body.reason ?? 'Solicitação via bot') | replace(\"'\", \"''\") }}'\nFROM upserted\nRETURNING id","options":{}},"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"id":"http-search-contact","name":"Buscar Contato Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"GET","url":"http://chatwoot-app:3000/api/v1/accounts/2/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Webhook request-human-support').item.json.body.phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"hh5bHLwTRyKoqZzAvaPUUm5v"}]},"options":{}}},{"id":"if-contact-exists","name":"Contato existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.payload.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"http-create-contact","name":"Criar Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400],"parameters":{"method":"POST","url":"http://chatwoot-app:3000/api/v1/accounts/2/contacts","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Webhook request-human-support').item.json.body.phone, phone_number: $('Webhook request-human-support').item.json.body.phone }) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"hh5bHLwTRyKoqZzAvaPUUm5v"}]}}},{"id":"merge-contact","name":"Unir dados contato","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"jsCode":"const input = $input.item.json;\nlet contactId = null;\n\n// Case 1: Input comes from 'Criar Contato' (newly created)\nif (input.payload && input.payload.contact) {\n  contactId = input.payload.contact.id;\n}\n// Case 2: Input comes from 'Contato existe?' (existing contact search result)\nelse if (input.payload && Array.isArray(input.payload) && input.payload.length > 0) {\n  contactId = input.payload[0].id;\n}\n\nreturn [{ json: { contactId } }];"}},{"id":"http-check-conv","name":"Checar Conversa Aberta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300],"parameters":{"method":"GET","url":"={{ 'http://chatwoot-app:3000/api/v1/accounts/2/contacts/' + $json.contactId + '/conversations' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"hh5bHLwTRyKoqZzAvaPUUm5v"}]},"options":{"ignoreResponseCode":true}}},{"id":"conv-exists","name":"Tem conversa aberta?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.payload && $json.payload.length > 0 && $json.payload.some(c => c.status === 'open') }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"http-create-conv","name":"Criar Conversa","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,400],"parameters":{"method":"POST","url":"http://chatwoot-app:3000/api/v1/accounts/2/conversations","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ source_id: $('Unir dados contato').item.json.contactId, inbox_id: 2, status: 'open' }) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"hh5bHLwTRyKoqZzAvaPUUm5v"}]},"options":{"ignoreResponseCode":true}}},{"id":"merge-conv","name":"Definir Conversa ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,300],"parameters":{"jsCode":"const input = $input.item.json;\nconst existingConvs = $('Checar Conversa Aberta').item.json.payload;\nlet id = null;\n\n// Check if we came from 'Criar Conversa' (newly created)\nif (input.id) {\n  id = input.id;\n} \n// Check if we came from 'Tem conversa aberta?' (existing)\nelse if (existingConvs && existingConvs.length > 0) {\n  const open = existingConvs.find(c => c.status === 'open');\n  if (open) id = open.id;\n}\n\nreturn [{ json: { id } }];"}},{"id":"http-send-msg","name":"Enviar Mensagem Inicial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,300],"parameters":{"method":"POST","url":"={{ 'http://chatwoot-app:3000/api/v1/accounts/2/conversations/' + $json.id + '/messages' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: '🚨 SOLICITAÇÃO DE SUPORTE\\nMotivo: ' + $('Webhook request-human-support').item.json.body.reason, message_type: 'incoming', private: false }) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"hh5bHLwTRyKoqZzAvaPUUm5v"}]},"options":{"ignoreResponseCode":true}}},{"id":"respond-success","name":"Responder BuilderBot","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2660,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, tutorName: 'Equipe Kreativ', estimatedWait: 'até 30 minutos' }) }}"}}],"connections":{"Webhook request-human-support":{"main":[[{"node":"Pausar bot e criar sessão","type":"main","index":0}]]},"Pausar bot e criar sessão":{"main":[[{"node":"Buscar Contato Chatwoot","type":"main","index":0}]]},"Buscar Contato Chatwoot":{"main":[[{"node":"Contato existe?","type":"main","index":0}]]},"Contato existe?":{"main":[[{"node":"Unir dados contato","type":"main","index":0}],[{"node":"Criar Contato","type":"main","index":0}]]},"Criar Contato":{"main":[[{"node":"Unir dados contato","type":"main","index":0}]]},"Unir dados contato":{"main":[[{"node":"Checar Conversa Aberta","type":"main","index":0}]]},"Checar Conversa Aberta":{"main":[[{"node":"Tem conversa aberta?","type":"main","index":0}]]},"Tem conversa aberta?":{"main":[[{"node":"Definir Conversa ID","type":"main","index":0}],[{"node":"Criar Conversa","type":"main","index":0}]]},"Criar Conversa":{"main":[[{"node":"Definir Conversa ID","type":"main","index":0}]]},"Definir Conversa ID":{"main":[[{"node":"Enviar Mensagem Inicial","type":"main","index":0}]]},"Enviar Mensagem Inicial":{"main":[[{"node":"Responder BuilderBot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0e717aae-1e99-4bd6-a2e0-63c925244117","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T18:48:30.908Z","createdAt":"2026-02-18T18:48:30.908Z","role":"workflow:owner","workflowId":"04ZmheF5PCJr52aI","projectId":"q7Bjn5D4LxM4OjYW"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T17:38:40.052Z","createdAt":"2026-02-19T17:38:40.052Z","id":"4Wm332D5L1Na0E7A","name":"Kreativ: Postgres Static","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-tutor-v2","responseMode":"onReceived","options":{}},"id":"webhook-static","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"kreativ-postgres-static"},{"parameters":{"operation":"executeQuery","query":"SELECT 1 as test","options":{}},"id":"postgres-static","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,300],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}}],"connections":{"Webhook":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":false,"saveExecutionProgress":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c2f92c94-5aa5-4329-b0e9-9dcea2afb4e3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-19T17:38:40.052Z","createdAt":"2026-02-19T17:38:40.052Z","role":"workflow:owner","workflowId":"4Wm332D5L1Na0E7A","projectId":"q7Bjn5D4LxM4OjYW"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T17:39:49.121Z","createdAt":"2026-02-19T17:39:49.121Z","id":"2UoB3wqjRU1NTsvY","name":"Kreativ: AI Adaptive Router","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-tutor-v2","responseMode":"onReceived","options":{}},"id":"webhook-final","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"kreativ-ai-tutor-v30"},{"parameters":{"jsCode":"const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"transformer","name":"Transformer","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300]},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT name, course_id, current_module, syllabus_config FROM students WHERE phone = '\" + $json.phone + \"' LIMIT 1\" }}","options":{"alwaysOutputData":true}},"id":"get-student-v30","name":"Get Student","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[600,300],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT title, content_text as syllabus FROM modules m JOIN courses c ON m.course_id = c.slug WHERE c.id = \" + ($json.course_id || 19) + \" AND m.module_number = \" + ($json.current_module || 1) + \" LIMIT 1\" }}","options":{"alwaysOutputData":true}},"id":"get-module-v30","name":"Get Module","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,300],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'deepseek/deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: `ALUNO: ${$node[\"Get Student\"].json.name}\\nEMENTA: ${$node[\"Get Module\"].json.syllabus}\\n\\nDê a aula amigável.` \n    },\n    { role: 'user', content: $node[\"Transformer\"].json.body }\n  ]\n}) }}","options":{"timeout":35000}},"id":"openrouter-v30","name":"AI Generator","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1000,300]},{"parameters":{"method":"POST","url":"http://kreativ_builderbot:3008/api/send","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $node[\"Transformer\"].json.phone, message: $json.choices[0].message.content }) }}"},"id":"send-wa-v30","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,300]}],"connections":{"Webhook":{"main":[[{"node":"Transformer","type":"main","index":0}]]},"Transformer":{"main":[[{"node":"Get Student","type":"main","index":0}]]},"Get Student":{"main":[[{"node":"Get Module","type":"main","index":0}]]},"Get Module":{"main":[[{"node":"AI Generator","type":"main","index":0}]]},"AI Generator":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"baf08103-522a-4230-bbaf-328ec1d7a348","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T17:39:49.121Z","createdAt":"2026-02-19T17:39:49.121Z","role":"workflow:owner","workflowId":"2UoB3wqjRU1NTsvY","projectId":"q7Bjn5D4LxM4OjYW"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-20T15:09:06.208Z","createdAt":"2026-02-20T15:09:06.208Z","id":"2q2f5k3pvDzH3eQq","name":"WhatsApp Router - Kreativ Educação V2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"responseNode","options":{}},"id":"n-webhook","name":"webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300]},{"parameters":{"respondWith":"json","responseBody":"{\"success\": true}","options":{}},"id":"early-ok","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[400,150]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const body = $json.body || {};\nconst event = body.event || '';\nconst data = body.data || {};\n\nif (event !== 'messages.upsert') return [];\n\nconst remoteJid = data.key?.remoteJid || '';\nconst phone = remoteJid.split('@')[0];\nconst message = data.message?.conversation || data.message?.extendedTextMessage?.text || '';\nconst pushName = data.pushName || 'Aluno';\nconst messageId = data.key?.id || '';\n\nif (!phone || !message) return [];\n\nreturn [{ json: { phone, message, pushName, messageId } }];"},"id":"n-logic","name":"Validação & Extração","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300]},{"parameters":{"operation":"set","key":"={{ \"msg_id:\" + $json.messageId }}","value":"1","expire":true,"ttl":600},"id":"rd-idempotency","name":"Redis: Idempotência","type":"n8n-nodes-base.redis","typeVersion":1,"position":[600,300],"credentials":{"redis":{"id":"GDNQ9fUq1chyneTT","name":"Kreativ Redis V4"}}},{"parameters":{"operation":"push","list":"={{ \"buffer:\" + $json.phone }}","messageData":"={{ $json.message }}","tail":true},"id":"rd-push","name":"Redis: Push Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,300],"credentials":{"redis":{"id":"GDNQ9fUq1chyneTT","name":"Kreativ Redis V4"}}},{"parameters":{"operation":"llen","list":"={{ \"buffer:\" + $json.phone }}"},"id":"rd-llen","name":"Redis: Tamanho","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1000,300],"credentials":{"redis":{"id":"GDNQ9fUq1chyneTT","name":"Kreativ Redis V4"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ Object.values($json)[0] }}","operation":"equal","value2":1}]}},"id":"if-burst","name":"Início do Burst?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1200,300]},{"parameters":{"amount":4,"unit":"seconds"},"id":"wait-burst","name":"Aguardar rajada","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1400,200]},{"parameters":{"jsCode":"const net = require('net');\nconst phone = $(\"Validação & Extração\").first().json.phone;\nreturn new Promise((resolve) => {\n    const client = new net.Socket();\n    client.connect(6379, 'kreativ_redis', () => {\n        const auth = '*2\\r\\n$4\\r\\nAUTH\\r\\n$24\\r\\nkNiaYOxriWOcSiZyXhb5C9LU\\r\\n';\n        const cmd = '*4\\r\\n$6\\r\\nLRANGE\\r\\n$'+Buffer.byteLength('buffer:'+phone)+'\\r\\nbuffer:'+phone+'\\r\\n$1\\r\\n0\\r\\n$2\\r\\n-1\\r\\n';\n        client.write(auth + cmd);\n    });\n    let buf = '';\n    client.on('data', (data) => {\n        buf += data.toString();\n        if (buf.includes('+OK\\r\\n') && buf.includes('*')) {\n            const afterAuth = buf.substring(buf.indexOf('+OK\\r\\n') + 5);\n            const lines = afterAuth.split('\\r\\n');\n            if (lines.length > 2 && lines[0].startsWith('*')) {\n                const count = parseInt(lines[0].substring(1), 10);\n                const res = [];\n                for(let i=0; i<count; i++) res.push(lines[2 + i*2]);\n                resolve([{ json: { result: res } }]);\n                client.destroy();\n            }\n        }\n    });\n    client.on('error', () => { resolve([{ json: { result: [] } }]); client.destroy(); });\n    setTimeout(() => { if (!client.destroyed) { resolve([{ json: { result: [] } }]); client.destroy(); } }, 4000);\n});"},"id":"rd-get","name":"Redis: Get Buffer","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,200]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const results = $(\"Redis: Get Buffer\").first().json.result || [];\nreturn [{ json: { phone: $(\"Validação & Extração\").first().json.phone, message: results.join(' ') } }];"},"id":"n-concat","name":"Concatenar mensagens","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,200]},{"parameters":{"operation":"delete","key":"={{ \"buffer:\" + $json.phone }}"},"id":"rd-del","name":"Redis: Limpar Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2000,200],"credentials":{"redis":{"id":"GDNQ9fUq1chyneTT","name":"Kreativ Redis V4"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.toUpperCase() }}","operation":"contains","value2":"QUIZZ"}]}},"id":"is-quiz","name":"É QUIZZ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2200,300]},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/ai-tutor-v2-unique-rafael","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $json.phone, body: $json.message }) }}","options":{}},"id":"quiz-handler","name":"Quiz Handler Proxy","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2450,200]},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/ai-tutor-v2-unique-rafael","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $json.phone, body: $json.message }) }}","options":{}},"id":"ai-router","name":"AI Router","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2450,400]}],"connections":{"Webhook WhatsApp":{"main":[[{"node":"Responder OK","type":"main","index":0},{"node":"Validação & Extração","type":"main","index":0}]]},"Validação & Extração":{"main":[[{"node":"Redis: Idempotência","type":"main","index":0}]]},"Redis: Idempotência":{"main":[[{"node":"Redis: Push Buffer","type":"main","index":0}]]},"Redis: Push Buffer":{"main":[[{"node":"Redis: Tamanho","type":"main","index":0}]]},"Redis: Tamanho":{"main":[[{"node":"Início do Burst?","type":"main","index":0}]]},"Início do Burst?":{"main":[[{"node":"Aguardar rajada","type":"main","index":0}]]},"Aguardar rajada":{"main":[[{"node":"Redis: Get Buffer","type":"main","index":0}]]},"Redis: Get Buffer":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Redis: Limpar Buffer","type":"main","index":0}]]},"Redis: Limpar Buffer":{"main":[[{"node":"É QUIZZ?","type":"main","index":0}]]},"É QUIZZ?":{"main":[[{"node":"Quiz Handler Proxy","type":"main","index":0}],[{"node":"AI Router","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataErrorExecution":"all","saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"878b3551-20d8-449b-adbe-cc47ac6ff1c0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-20T15:09:06.208Z","createdAt":"2026-02-20T15:09:06.208Z","role":"workflow:owner","workflowId":"2q2f5k3pvDzH3eQq","projectId":"q7Bjn5D4LxM4OjYW"}],"activeVersion":null,"tags":[]}],"nextCursor":"eyJsaW1pdCI6NSwib2Zmc2V0Ijo1fQ=="}