n8n-workflows/01-whatsapp-router.json
{
  "name": "WhatsApp Router - Kreativ Educação",
  "nodes": [
    {
      "id": "n-webhook",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "whatsapp-kreativ-bot"
    },
    {
      "id": "n-filter",
      "name": "É mensagem válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        380,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ String($json.body.data.key.fromMe) }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n-extract",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.body.data.message?.conversation ?? $json.body.data.message?.extendedTextMessage?.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-pushname",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName ?? 'Aluno' }}",
              "type": "string"
            },
            {
              "id": "assign-payload",
              "name": "originalPayload",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n-respond-early",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        740,
        150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}"
      }
    },
    {
      "id": "rd-rate-limit",
      "name": "Redis: Rate Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "parameters": {
        "operation": "increment",
        "key": "={{ \"rate_limit:\" + $json.phone }}"
      },
      "credentials": {
        "redis": {
          "id": "n7gJ3RxnDa5vCp4k",
          "name": "Kreativ Redis"
        }
      }
    },
    {
      "id": "if-first",
      "name": "Primeira mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-first",
              "leftValue": "={{ $json.result }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "rd-expire-limit",
      "name": "Redis: Expire Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "operation": "expire",
        "key": "={{ \"rate_limit:\" + $node[\"Extrair dados\"].json.phone }}",
        "seconds": 3
      },
      "credentials": {
        "redis": {
          "id": "n7gJ3RxnDa5vCp4k",
          "name": "Kreativ Redis"
        }
      }
    },
    {
      "id": "rd-get-status",
      "name": "Redis: Get Status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "operation": "get",
        "key": "={{ \"session:\" + $node[\"Extrair dados\"].json.phone + \":status\" }}"
      },
      "credentials": {
        "redis": {
          "id": "n7gJ3RxnDa5vCp4k",
          "name": "Kreativ Redis"
        }
      }
    },
    {
      "id": "if-cached",
      "name": "Status em Cache?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-cache",
              "leftValue": "={{ $json.result }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n-db",
      "name": "Buscar estado no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(s.attendance_status, 'bot') as attendance_status, COALESCE(s.current_module, 0) as current_module FROM (SELECT 1) t LEFT JOIN students s ON s.phone = '{{ $node[\"Extrair dados\"].json.phone }}' LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      }
    },
    {
      "id": "rd-set-status",
      "name": "Redis: Set Status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1900,
        400
      ],
      "parameters": {
        "operation": "set",
        "key": "={{ \"session:\" + $node[\"Extrair dados\"].json.phone + \":status\" }}",
        "value": "={{ JSON.stringify($json) }}",
        "expire": 86400
      },
      "credentials": {
        "redis": {
          "id": "n7gJ3RxnDa5vCp4k",
          "name": "Kreativ Redis"
        }
      }
    },
    {
      "id": "n-route",
      "name": "Determinar rota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ],
      "parameters": {
        "jsCode": "const phone = $('Extrair dados').item.json.phone;\nconst message = $('Extrair dados').item.json.message;\nconst pushName = $('Extrair dados').item.json.pushName;\nconst originalPayload = $('Extrair dados').item.json.originalPayload;\n\nlet statusData = null;\n\ntry {\n  // Se veio do Redis\n  if ($('Redis: Get Status').item?.json?.result) {\n    statusData = JSON.parse($('Redis: Get Status').item.json.result);\n  } else {\n    // Se veio do DB\n    statusData = $('Buscar estado no DB').item?.json;\n  }\n} catch(e) {}\n\nlet route = 'deepseek';\n\nif (statusData) {\n  const status = statusData.attendance_status;\n  const mod = parseInt(String(statusData.current_module ?? '0'), 10);\n\n  if (status === 'human') {\n    route = 'paused';\n  } else if (mod > 0) {\n    route = 'builderbot';\n  }\n}\n\nreturn [{ json: { phone, message, pushName, originalPayload, route } }];"
      }
    },
    {
      "id": "n-switch",
      "name": "Rotear mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2300,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-paused",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paused"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-builderbot",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "builderbot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BuilderBot"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "n-builderbot",
      "name": "Encaminhar BuilderBot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_builderbot:3008/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.originalPayload) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "n-deepseek-payload",
      "name": "Montar payload DeepSeek",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        480
      ],
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\nconst pushName = $input.item.json.pushName;\n\nreturn [{\n  json: {\n    phone: $input.item.json.phone,\n    message,\n    pushName,\n    deepseekPayload: {\n      model: \"deepseek-chat\",\n      messages: [\n        { role: \"system\", content: \"Você é um assistente educacional da Kreativ Educação, plataforma de ensino via WhatsApp.\\n\\nRegras:\\n- Responda sempre em português brasileiro\\n- Seja amigável, didático e encorajador\\n- Respostas concisas (máximo 3 parágrafos para WhatsApp)\\n- Se o aluno quiser aprender, diga que ele pode responder MODULO para iniciar a trilha estruturada\\n- Se não souber algo específico, diga que verificará com a equipe\" },\n        { role: \"user\", content: message }\n      ],\n      temperature: 0.7\n    }\n  }\n}];"
      }
    },
    {
      "id": "n-deepseek",
      "name": "DeepSeek AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-412552782fbe4009a25a013825e6ab66"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.deepseekPayload) }}",
        "options": {}
      }
    },
    {
      "id": "n-extract-ai",
      "name": "Extrair resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        480
      ],
      "parameters": {
        "jsCode": "const phone = $('Extrair dados').item.json.phone;\nconst choices = $input.item.json.choices;\nconst aiResponse = choices?.[0]?.message?.content ?? 'Desculpe, erro na IA.';\nreturn [{ json: { phone, aiResponse } }];"
      }
    },
    {
      "id": "n-send",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.aiResponse }) }}",
        "options": {}
      }
    },
    {
      "id": "cw-search",
      "name": "Buscar Contato CW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ],
      "parameters": {
        "method": "GET",
        "url": "http://chatwoot-app:3000/api/v1/accounts/2/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Extrair dados').item.json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        }
      }
    },
    {
      "id": "cw-find-conv",
      "name": "Buscar Conversas Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        100
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://chatwoot-app:3000/api/v1/accounts/2/contacts/' + $json.payload[0].id + '/conversations' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        }
      }
    },
    {
      "id": "cw-send",
      "name": "Enviar p/ Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://chatwoot-app:3000/api/v1/accounts/2/conversations/' + $json.payload[0].id + '/messages' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Extrair dados').item.json.message, message_type: 'incoming', private: false }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": true
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "É mensagem válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem válida?": {
      "main": [
        [
          {
            "node": "Extrair dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados": {
      "main": [
        [
          {
            "node": "Redis: Rate Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Rate Limit": {
      "main": [
        [
          {
            "node": "Primeira mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira mensagem?": {
      "main": [
        [
          {
            "node": "Redis: Expire Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Expire Limit": {
      "main": [
        [
          {
            "node": "Redis: Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Get Status": {
      "main": [
        [
          {
            "node": "Status em Cache?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status em Cache?": {
      "main": [
        [
          {
            "node": "Determinar rota",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar estado no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar estado no DB": {
      "main": [
        [
          {
            "node": "Redis: Set Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Set Status": {
      "main": [
        [
          {
            "node": "Determinar rota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar rota": {
      "main": [
        [
          {
            "node": "Rotear mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear mensagem": {
      "main": [
        [
          {
            "node": "Buscar Contato CW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encaminhar BuilderBot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar payload DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar payload DeepSeek": {
      "main": [
        [
          {
            "node": "DeepSeek AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek AI": {
      "main": [
        [
          {
            "node": "Extrair resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair resposta IA": {
      "main": [
        [
          {
            "node": "Enviar resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato CW": {
      "main": [
        [
          {
            "node": "Buscar Conversas Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Contato": {
      "main": [
        [
          {
            "node": "Enviar p/ Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
