n8n-workflows/01-whatsapp-router.json
{
  "name": "WhatsApp Router - Kreativ Educa\u00e7\u00e3o",
  "nodes": [
    {
      "id": "n-webhook",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode"
      },
      "webhookId": "whatsapp-router-prod-v3"
    },
    {
      "id": "n-logic",
      "name": "Validação & Extração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst event = body.event || '';\nconst data = body.data || {};\n\nif (event !== 'messages.upsert') {\n    return []; // Descarta se não for mensagem de entrada\n}\n\nconst remoteJid = data.key?.remoteJid || '';\nconst phone = remoteJid.split('@')[0];\nconst message = data.message?.conversation || '';\nconst pushName = data.pushName || 'Aluno';\nconst messageId = data.key?.id || '';\n\nif (!phone || !message) {\n    return []; // Descarta se faltar dados essenciais\n}\n\nreturn [{ json: { phone, message, pushName, messageId } }];"
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"msg_id:\" + $json.messageId }}",
        "value": "1",
        "expire": true,
        "ttl": 600
      },
      "id": "rd-idempotency",
      "name": "Redis: Idempotência",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "id": "if-new-msg",
      "name": "É nova mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{ $json.key }}",
              "operation": "notEqual",
              "value2": ""
            }
          ]
        }
      }
    },
    {
      "id": "early-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        740,
        150
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}"
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ \"buffer:\" + $json.phone }}",
        "messageData": "={{ $json.message }}",
        "tail": true
      },
      "id": "rd-push",
      "name": "Redis: Push Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "operation": "llen",
        "list": "={{ \"buffer:\" + $json.phone }}"
      },
      "id": "rd-llen",
      "name": "Redis: Tamanho",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { value: Object.values($json)[0] } }];"
      },
      "id": "rd-norm",
      "name": "Redis: Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        300
      ]
    },
    {
      "id": "if-burst",
      "name": "Início do Burst?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1610,
        165
      ],
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.value }}",
              "operation": "equal",
              "value2": 1
            }
          ],
          "string": []
        }
      }
    },
    {
      "id": "wait-burst",
      "name": "Aguardar rajada",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1790,
        200
      ],
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      }
    },
    {
      "id": "rd-get",
      "name": "Redis: Get Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ],
      "parameters": {
        "jsCode": "const net = require('net');\nconst phone = $('Validação & Extração').item.json.phone;\nreturn new Promise((resolve) => {\n    const client = new net.Socket();\n    client.connect(6379, 'kreativ_redis', () => {\n        // Auth and LRANGE in one go\n        const auth = '*2\\r\\n$4\\r\\nAUTH\\r\\n$24\\r\\nkNiaYOxriWOcSiZyXhb5C9LU\\r\\n';\n        const cmd = '*4\\r\\n$6\\r\\nLRANGE\\r\\n$'+Buffer.byteLength('buffer:'+phone)+'\\r\\nbuffer:'+phone+'\\r\\n$1\\r\\n0\\r\\n$2\\r\\n-1\\r\\n';\n        client.write(auth + cmd);\n    });\n    let buf = '';\n    client.on('data', (data) => {\n        buf += data.toString();\n        // Wait for both +OK for auth and the * result for LRANGE\n        if (buf.includes('+OK\\r\\n') && buf.includes('*')) {\n            const afterAuth = buf.substring(buf.indexOf('+OK\\r\\n') + 5);\n            const lines = afterAuth.split('\\r\\n');\n            if (lines.length > 2 && lines[0].startsWith('*')) {\n                const count = parseInt(lines[0].substring(1), 10);\n                const res = [];\n                for(let i=0; i<count; i++) res.push(lines[2 + i*2]);\n                resolve([{ json: { result: res } }]);\n                client.destroy();\n            }\n        }\n    });\n    client.on('error', () => { resolve([{ json: { result: [] } }]); client.destroy(); });\n    setTimeout(() => { if (!client.destroyed) { resolve([{ json: { result: [] } }]); client.destroy(); } }, 4000);\n});"
      }
    },
    {
      "id": "n-concat",
      "name": "Concatenar mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ],
      "parameters": {
        "jsCode": "const results = $('Redis: Get Buffer').item.json.result || [];\nreturn [{ json: { phone: $('Validação & Extração').item.json.phone, message: results.join(' ') } }];"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ \"buffer:\" + $json.phone }}"
      },
      "id": "rd-del",
      "name": "Redis: Limpar Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2340,
        200
      ],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "id": "ai-tutor",
      "name": "AI Tutor V3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2520,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ai-tutor-v2-unique-rafael",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, body: $json.message }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Validação & Extração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação & Extração": {
      "main": [
        [
          {
            "node": "Redis: Idempotência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Idempotência": {
      "main": [
        [
          {
            "node": "É nova mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É nova mensagem?": {
      "main": [
        [
          {
            "node": "Redis: Push Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Push Buffer": {
      "main": [
        [
          {
            "node": "Redis: Tamanho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Tamanho": {
      "main": [
        [
          {
            "node": "Redis: Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Normalizar": {
      "main": [
        [
          {
            "node": "Início do Burst?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Início do Burst?": {
      "main": [
        [
          {
            "node": "Aguardar rajada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar rajada": {
      "main": [
        [
          {
            "node": "Redis: Get Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Get Buffer": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar mensagens": {
      "main": [
        [
          {
            "node": "Redis: Limpar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Limpar Buffer": {
      "main": [
        [
          {
            "node": "AI Tutor V3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}