n8n-workflows/01-whatsapp-router-v2.json
{
  "name": "WhatsApp Router - Kreativ Educação V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n-webhook",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "early-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 150]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $json.body || {};\nconst event = body.event || '';\nconst data = body.data || {};\n\nif (event !== 'messages.upsert') return [];\n\nconst remoteJid = data.key?.remoteJid || '';\nconst phone = remoteJid.split('@')[0];\nconst message = data.message?.conversation || data.message?.extendedTextMessage?.text || '';\nconst pushName = data.pushName || 'Aluno';\nconst messageId = data.key?.id || '';\n\nif (!phone || !message) return [];\n\nreturn [{ json: { phone, message, pushName, messageId } }];"
      },
      "id": "n-logic",
      "name": "Validação & Extração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"msg_id:\" + $json.messageId }}",
        "value": "1",
        "expire": true,
        "ttl": 600
      },
      "id": "rd-idempotency",
      "name": "Redis: Idempotência",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ \"buffer:\" + $json.phone }}",
        "messageData": "={{ $json.message }}",
        "tail": true
      },
      "id": "rd-push",
      "name": "Redis: Push Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "operation": "llen",
        "list": "={{ \"buffer:\" + $json.phone }}"
      },
      "id": "rd-llen",
      "name": "Redis: Tamanho",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Object.values($json)[0] }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "if-burst",
      "name": "Início do Burst?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "wait-burst",
      "name": "Aguardar rajada",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "jsCode": "const net = require('net');\nconst phone = $(\"Validação & Extração\").first().json.phone;\nreturn new Promise((resolve) => {\n    const client = new net.Socket();\n    client.connect(6379, 'kreativ_redis', () => {\n        const auth = '*2\\r\\n$4\\r\\nAUTH\\r\\n$24\\r\\nkNiaYOxriWOcSiZyXhb5C9LU\\r\\n';\n        const cmd = '*4\\r\\n$6\\r\\nLRANGE\\r\\n$'+Buffer.byteLength('buffer:'+phone)+'\\r\\nbuffer:'+phone+'\\r\\n$1\\r\\n0\\r\\n$2\\r\\n-1\\r\\n';\n        client.write(auth + cmd);\n    });\n    let buf = '';\n    client.on('data', (data) => {\n        buf += data.toString();\n        if (buf.includes('+OK\\r\\n') && buf.includes('*')) {\n            const afterAuth = buf.substring(buf.indexOf('+OK\\r\\n') + 5);\n            const lines = afterAuth.split('\\r\\n');\n            if (lines.length > 2 && lines[0].startsWith('*')) {\n                const count = parseInt(lines[0].substring(1), 10);\n                const res = [];\n                for(let i=0; i<count; i++) res.push(lines[2 + i*2]);\n                resolve([{ json: { result: res } }]);\n                client.destroy();\n            }\n        }\n    });\n    client.on('error', () => { resolve([{ json: { result: [] } }]); client.destroy(); });\n    setTimeout(() => { if (!client.destroyed) { resolve([{ json: { result: [] } }]); client.destroy(); } }, 4000);\n});"
      },
      "id": "rd-get",
      "name": "Redis: Get Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $(\"Redis: Get Buffer\").first().json.result || [];\nreturn [{ json: { phone: $(\"Validação & Extração\").first().json.phone, message: results.join(' ') } }];"
      },
      "id": "n-concat",
      "name": "Concatenar mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ \"buffer:\" + $json.phone }}"
      },
      "id": "rd-del",
      "name": "Redis: Limpar Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.toUpperCase() }}",
              "operation": "contains",
              "value2": "QUIZZ"
            }
          ]
        }
      },
      "id": "is-quiz",
      "name": "É QUIZZ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_n8n:5678/webhook/ai-tutor-v2-unique-rafael",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, body: $json.message }) }}",
        "options": {}
      },
      "id": "quiz-handler",
      "name": "Quiz Handler Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_n8n:5678/webhook/ai-tutor-v2-unique-rafael",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, body: $json.message }) }}",
        "options": {}
      },
      "id": "ai-router",
      "name": "AI Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 400]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Validação & Extração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação & Extração": {
      "main": [
        [
          {
            "node": "Redis: Idempotência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Idempotência": {
      "main": [
        [
          {
            "node": "Redis: Push Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Push Buffer": {
      "main": [
        [
          {
            "node": "Redis: Tamanho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Tamanho": {
      "main": [
        [
          {
            "node": "Início do Burst?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Início do Burst?": {
      "main": [
        [
          {
            "node": "Aguardar rajada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar rajada": {
      "main": [
        [
          {
            "node": "Redis: Get Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Get Buffer": {
      "main": [
        [
          {
            "node": "Concatenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar mensagens": {
      "main": [
        [
          {
            "node": "Redis: Limpar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Limpar Buffer": {
      "main": [
        [
          {
            "node": "É QUIZZ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É QUIZZ?": {
      "main": [
        [
          {
            "node": "Quiz Handler Proxy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true
  }
}