n8n-workflows/10-chatwoot-events.json
{
  "name": "Kreativ: Chatwoot → Retomar Bot & Treinamento",
  "nodes": [
    {
      "id": "cw-wh",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        304
      ],
      "webhookId": "kreativ-chatwoot-events",
      "parameters": {
        "path": "chatwoot-events",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event;\nconst conv = body.conversation || {};\nconst status = conv.status;\nconst phone = (conv.meta?.sender?.phone_number || '').replace(/\\D/g,'');\nconst convId = conv.id;\nconst assignee = conv.meta?.assignee;\nconst messageContent = body.content;\nconst messageType = body.message_type;\n\nreturn [{ json: { event, status, phone, convId, assignee, messageContent, messageType, raw: body } }];\n"
      },
      "id": "cw-extract",
      "name": "Extrair Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "conversation_status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reaberta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Treinamento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "cw-switch",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://kreativ_chatwoot_app:3000/api/v1/accounts/2/conversations/{{$json.convId}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "options": {}
      },
      "id": "get-history",
      "name": "Buscar Histórico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const messages = $json.payload || [];\n// Pegar a última mensagem do aluno (incoming)\nconst lastIncoming = messages.find(m => m.message_type === 'incoming');\nconst currentOutgoing = $('Extrair Evento').item.json.messageContent;\n\nif (lastIncoming && currentOutgoing) {\n  return [{ json: { \n    question: lastIncoming.content, \n    answer: currentOutgoing,\n    phone: $('Extrair Evento').item.json.phone\n  } }];\n}\nreturn [];"
      },
      "id": "extract-pair",
      "name": "Extrair Par Q&A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        416
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO training_memory (question, answer, student_phone) VALUES ('\" + $json.question.replace(/'/g, \"''\") + \"', '\" + $json.answer.replace(/'/g, \"''\") + \"', '\" + $json.phone + \"');\" }}",
        "options": {}
      },
      "id": "save-memory",
      "name": "Salvar Memória Treino",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"BEGIN; UPDATE students SET attendance_status='bot', updated_at=NOW() WHERE phone = '\" + $json.phone + \"'; INSERT INTO handoff_control (phone, status) VALUES ('\" + $json.phone + \"', 'bot') ON CONFLICT (phone) DO UPDATE SET status = 'bot', last_handoff = NOW(); COMMIT;\" }}",
        "options": {}
      },
      "id": "cw-resume",
      "name": "Retomar Bot no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rd-set-bot",
      "name": "Redis: Set Bot",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1140,
        208
      ],
      "parameters": {
        "operation": "set",
        "key": "={{ \"session:\" + $node[\"Extrair Evento\"].json.phone + \":status\" }}",
        "value": "{\"attendance_status\": \"bot\", \"current_module\": 1}",
        "expire": 86400
      },
      "credentials": {
        "redis": {
          "id": "pqD1PcyYhsWm4i3a",
          "name": "Kreativ Redis"
        }
      }
    },
    {
      "id": "cw-handoff",
      "name": "Handoff no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        304
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE students SET attendance_status='human', updated_at=NOW() WHERE phone = '\" + $json.phone + \"';\" }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      }
    },
    {
      "id": "rd-set-human",
      "name": "Redis: Set Human",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1140,
        304
      ],
      "parameters": {
        "operation": "set",
        "key": "={{ \"session:\" + $node[\"Extrair Evento\"].json.phone + \":status\" }}",
        "value": "{\"attendance_status\": \"human\", \"current_module\": 1}",
        "expire": 86400
      },
      "credentials": {
        "redis": {
          "id": "pqD1PcyYhsWm4i3a",
          "name": "Kreativ Redis"
        }
      }
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Extrair Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Evento": {
      "main": [
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "Retomar Bot no DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff no DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retomar Bot no DB": {
      "main": [
        [
          {
            "node": "Redis: Set Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff no DB": {
      "main": [
        [
          {
            "node": "Redis: Set Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Extrair Par Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Par Q&A": {
      "main": [
        [
          {
            "node": "Salvar Memória Treino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
