n8n-workflows/10-chatwoot-events-clean.json
{
  "name": "Kreativ: Chatwoot → Retomar Bot & Treinamento",
  "nodes": [
    {
      "id": "cw-wh",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "position": [
        200,
        300
      ],
      "webhookId": "kreativ-chatwoot-events",
      "parameters": {
        "path": "chatwoot-events",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\n// Extrai campos do payload Chatwoot\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event;\nconst conv = body.conversation || {};\nconst status = conv.status || body.status;\nconst convId = conv.id || body.id || (body.conversation && body.conversation.id);\n\n// Procura telefone em múltiplos caminhos possíveis no payload do Chatwoot\nlet rawPhone = (\n  conv.meta?.sender?.phone_number || \n  body.meta?.sender?.phone_number || \n  body.sender?.phone_number || \n  (body.contact && body.contact.phone_number) ||\n  ''\n).replace(/\\D/g,'').replace(/^\\+/, '');\n\n// Normaliza para incluir o código do país se faltar\nconst phone = rawPhone.startsWith('55') ? rawPhone : (rawPhone ? '55' + rawPhone : '');\n\nconst messageContent = body.content;\nconst messageType = body.message_type;\nconst assignee = conv.meta?.assignee?.name || body.meta?.assignee?.name;\n\n// Filtro de segurança: se não temos telefone e não é um evento que processamos, ignoramos\nif (!phone && event !== 'message_created' && event !== 'conversation_status_changed') {\n  return [];\n}\n\nreturn [{ json: { event, status, phone, convId, assignee, messageContent, messageType, raw: body } }];\n"
      },
      "id": "cw-extract",
      "name": "Extrair Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "conversation_status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r1b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "conversation_status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reaberta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Treinamento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "cw-switch",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT hc.status as current_status, s.current_module, s.name\nFROM handoff_control hc\nLEFT JOIN students s ON s.phone = hc.phone\nWHERE hc.phone = '{{ $json.phone }}'\nLIMIT 1",
        "options": {}
      },
      "id": "check-idempotency",
      "name": "Verificar Estado Atual",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst phone = $node['Extrair Evento'].json.phone;\nconst currentStatus = rows.length > 0 ? rows[0].json.current_status : null;\nconst currentModule = rows.length > 0 ? rows[0].json.current_module : 1;\n\n// IDEMPOTÊNCIA: Se já está em modo 'bot', não processar novamente\n// (Chatwoot pode disparar eventos duplicados)\nif (currentStatus === 'bot') {\n  console.log(`[HANDOFF] Phone ${phone} already 'bot' — skipping duplicate event`);\n  return []; // para execução\n}\n\nreturn [{ json: { phone, currentModule: currentModule || 1 } }];"
      },
      "id": "idempotency-check",
      "name": "Idempotência: Já é Bot?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n-- 1. Atualizar students\nUPDATE students\nSET attendance_status = 'bot', updated_at = NOW()\nWHERE phone = '{{ $json.phone }}';\n\n-- 2. Registrar handoff_control (idempotente via ON CONFLICT)\nINSERT INTO handoff_control (phone, status, last_handoff)\nVALUES ('{{ $json.phone }}', 'bot', NOW())\nON CONFLICT (phone) DO UPDATE\n  SET status = 'bot', last_handoff = NOW();\n\n-- 3. Encerrar sessão de suporte aberta (se houver)\nUPDATE support_sessions\nSET ended_at = NOW(), bot_resumed = TRUE\nWHERE student_id = (SELECT id FROM students WHERE phone = '{{ $json.phone }}')\n  AND ended_at IS NULL;\n\nCOMMIT;",
        "options": {}
      },
      "id": "cw-resume",
      "name": "Retomar Bot no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1300,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rd-set-bot",
      "name": "Redis: Set Bot",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ],
      "parameters": {
        "operation": "set",
        "key": "={{ \"session:\" + $node[\"Extrair Evento\"].json.phone + \":status\" }}",
        "value": "={{ JSON.stringify({ attendance_status: 'bot', current_module: $node['Idempotência: Já é Bot?'].json.currentModule || 1, resumed_at: new Date().toISOString() }) }}",
        "expire": 86400
      },
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.name, s.phone, s.current_module, s.completed_modules, s.portal_token,\n       c.name as course_name,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules\nFROM students s\nLEFT JOIN courses c ON c.id = s.course_id\nWHERE s.phone = '{{ $node[\"Extrair Evento\"].json.phone }}'\nLIMIT 1",
        "options": {}
      },
      "id": "cw-get-student",
      "name": "Buscar Estado do Aluno",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1740,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const phone = $node['Extrair Evento'].json.phone;\nconst rows = $input.all();\n\nlet name = 'Aluno';\nlet currentModule = 1;\nlet totalModules = 1;\nlet completedModules = [];\nlet courseName = 'Kreativ Educação';\nlet portalToken = null;\nlet label = 'em-andamento';\n\nif (rows && rows.length > 0 && rows[0].json.phone) {\n  const s = rows[0].json;\n  name = s.name || 'Aluno';\n  currentModule = s.current_module || 1;\n  totalModules = s.total_modules || 1;\n  completedModules = s.completed_modules || [];\n  courseName = s.course_name || 'Kreativ Educação';\n  portalToken = s.portal_token || null;\n}\n\nconst nCompleted = Array.isArray(completedModules) ? completedModules.length : 0;\nconst courseComplete = nCompleted >= totalModules && totalModules > 0;\n\n// Determinar label do Chatwoot pós-atendimento\nif (courseComplete) {\n  label = 'concluido';\n} else if (currentModule <= 5) {\n  label = `modulo-${currentModule}`;\n} else {\n  label = 'em-andamento';\n}\n\n// Montar mensagem personalizada por caso\nlet message;\nif (!rows || rows.length === 0 || !rows[0].json.phone) {\n  // Caso 0: Aluno não encontrado no DB\n  message = '✅ *Seu atendimento foi encerrado!*\\n\\nPara começar ou retomar o curso, envie *OI*.';\n  label = 'novo-lead';\n} else if (courseComplete) {\n  // Caso 3: Curso completo\n  const portalLink = portalToken\n    ? `\\n\\n📊 Veja seus certificados em:\\nhttps://portal.extensionista.site/aluno/${portalToken}`\n    : '';\n  message = `✅ *Atendimento encerrado!* Bom ver você, ${name}! 😊\\n\\nParabéns — você já concluiu o curso *${courseName}*! 🏆${portalLink}\\n\\nDigite *OI* se precisar de mais alguma coisa.`;\n} else if (nCompleted === 0 && currentModule === 1) {\n  // Caso 1: Aluno não iniciou nenhum módulo\n  message = `✅ *Atendimento encerrado!* Olá, ${name}! 👋\\n\\nPara começar seu aprendizado no curso *${courseName}*, responda:\\n👉 *MODULO* — acessar o Módulo 1\\n👉 *PROGRESSO* — ver seu painel`;\n} else {\n  // Caso 2: Aluno em andamento\n  const portalLink = portalToken\n    ? `\\n\\n📊 Acompanhe seu progresso: https://portal.extensionista.site/aluno/${portalToken}`\n    : '';\n  message = `✅ *Atendimento encerrado!* Olá, ${name}! 👋\\n\\nPode continuar de onde parou no curso *${courseName}*:\\n👉 *MODULO* — continuar no Módulo ${currentModule}\\n👉 *QUIZ* — refazer a avaliação do módulo atual\\n👉 *PROGRESSO* — ver todo seu andamento${portalLink}`;\n}\n\nreturn [{ json: { phone, message, label } }];"
      },
      "id": "cw-build-resume",
      "name": "Montar Mensagem de Retomada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.message }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cw-send-wa",
      "name": "Enviar WhatsApp Retomada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_n8n:5678/webhook/update-chatwoot-label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Montar Mensagem de Retomada').first().json.phone, label: $('Montar Mensagem de Retomada').first().json.label }) }}",
        "options": {
          "timeout": 3000
        }
      },
      "id": "cw-update-label",
      "name": "Atualizar Label Pós-Atendimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\nUPDATE students\nSET attendance_status = 'human', updated_at = NOW()\nWHERE phone = '{{ $json.phone }}';\n\nINSERT INTO handoff_control (phone, status, last_handoff)\nVALUES ('{{ $json.phone }}', 'human', NOW())\nON CONFLICT (phone) DO UPDATE\n  SET status = 'human', last_handoff = NOW();\nCOMMIT;",
        "options": {}
      },
      "id": "cw-handoff",
      "name": "Handoff no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rd-set-human",
      "name": "Redis: Set Human",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1080,
        400
      ],
      "parameters": {
        "operation": "set",
        "key": "={{ \"session:\" + $node[\"Extrair Evento\"].json.phone + \":status\" }}",
        "value": "={{ JSON.stringify({ attendance_status: 'human', handoff_at: new Date().toISOString() }) }}",
        "expire": 86400
      },
      "credentials": {
        "redis": {
          "id": "GDNQ9fUq1chyneTT",
          "name": "Kreativ Redis V4"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://kreativ_chatwoot_app:3000/api/v1/accounts/2/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-history",
      "name": "Buscar Histórico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        540
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const messages = ($json.payload || []);\n// Último incoming (aluno) e último outgoing (tutor)\nconst lastIncoming = messages.slice().reverse().find(m => m.message_type === 0 || m.message_type === 'incoming');\nconst lastOutgoing = messages.slice().reverse().find(m => m.message_type === 1 || m.message_type === 'outgoing');\n\nconst phone = $node['Extrair Evento'].json.phone;\nconst convId = $node['Extrair Evento'].json.convId;\n\nif (!lastIncoming || !lastOutgoing) {\n  console.log('[TREINAMENTO] Par Q&A incompleto — skipping');\n  return [];\n}\n\nreturn [{ json: {\n  question: lastIncoming.content,\n  answer: lastOutgoing.content,\n  phone,\n  conv_id: convId\n} }];"
      },
      "id": "extract-pair",
      "name": "Extrair Par Q&A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO training_memory (question, answer, student_phone, conv_id)\nVALUES ('{{ $json.question.replace(/'/g, \"''\") }}', '{{ $json.answer.replace(/'/g, \"''\") }}', '{{ $json.phone }}', {{ $json.conv_id }})\nON CONFLICT (conv_id) DO NOTHING;",
        "options": {}
      },
      "id": "save-memory",
      "name": "Salvar Memória Treino",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1300,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Extrair Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Evento": {
      "main": [
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "Verificar Estado Atual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff no DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado Atual": {
      "main": [
        [
          {
            "node": "Idempotência: Já é Bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotência: Já é Bot?": {
      "main": [
        [
          {
            "node": "Retomar Bot no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retomar Bot no DB": {
      "main": [
        [
          {
            "node": "Redis: Set Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Set Bot": {
      "main": [
        [
          {
            "node": "Buscar Estado do Aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado do Aluno": {
      "main": [
        [
          {
            "node": "Montar Mensagem de Retomada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem de Retomada": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp Retomada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp Retomada": {
      "main": [
        [
          {
            "node": "Atualizar Label Pós-Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff no DB": {
      "main": [
        [
          {
            "node": "Redis: Set Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Histórico": {
      "main": [
        [
          {
            "node": "Extrair Par Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Par Q&A": {
      "main": [
        [
          {
            "node": "Salvar Memória Treino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
