n8n-workflows/11-lead-scoring.json
{
  "name": "Kreativ: Lead Scoring",
  "nodes": [
    {
      "id": "wh-module-completed",
      "name": "Webhook: módulo concluído",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-scoring",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "kreativ-module-completed"
    },
    {
      "id": "trigger-sub",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "parameters": {}
    },
    {
      "id": "code-normalize",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst phone = String(input.phone ?? input.body?.phone ?? '').replace(/\\D/g, '');\nconst moduleNumber = parseInt(String(input.moduleNumber ?? input.moduleId ?? input.body?.moduleNumber ?? '0'), 10);\nconst points = parseInt(String(input.points ?? input.body?.points ?? '20'), 10);\nconst tag = input.tag ?? input.body?.tag ?? null;\nreturn [{ json: { body: { phone, moduleNumber, points, tag } } }];"
      }
    },
    {
      "id": "pg-lead-scoring",
      "name": "Calcular e salvar lead score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE students SET\n  lead_score = LEAST(100, \n    CASE \n      WHEN {{ $json.body.moduleNumber }} > 0 THEN (\n        SELECT ROUND((COALESCE(array_length(completed_modules, 1), 0)::float / NULLIF((SELECT COUNT(*) FROM modules WHERE course_id = students.course_id::text), 0)) * 100)\n      )\n      ELSE lead_score + {{ $json.body.points }}\n    END\n  ),\n  lead_tags = CASE \n    WHEN '{{ $json.body.tag }}' != 'null' AND '{{ $json.body.tag }}' != '' THEN ARRAY_APPEND(ARRAY_REMOVE(lead_tags, '{{ $json.body.tag }}'), '{{ $json.body.tag }}')\n    ELSE lead_tags\n  END,\n  updated_at = NOW()\nWHERE phone = '{{ $json.body.phone }}'\nRETURNING phone, lead_score, name;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-score-msg",
      "name": "Formatar mensagem conquista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const norm = $('Normalizar Entrada').item.json.body;\nconst phone = norm.phone;\nconst moduleNumber = norm.moduleNumber;\nconst score = $input.all()[0]?.json?.lead_score ?? 0;\n\nlet emoji = '⭐';\nif (score >= 100) emoji = '🏆';\nelse if (score >= 75) emoji = '🥇';\nelse if (score >= 50) emoji = '🥈';\nelse if (score >= 25) emoji = '🥉';\n\nconst msg = `${emoji} *Parabéns!*\\n\\nVocê concluiu o Módulo ${moduleNumber} com sucesso!\\nSeu progresso atual: *${score}%*\\n\\nContinue assim! 🚀`;\n\nreturn [{ json: { phone, message: msg, score } }];"
      }
    },
    {
      "id": "http-wapp-congratulation",
      "name": "Enviar parabéns WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.message }) }}"
      },
      "continueOnFail": true
    },
    {
      "id": "http-update-label",
      "name": "Atualizar Label Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/update-chatwoot-label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, module_number: $('Normalizar Entrada').item?.json?.body?.moduleNumber }) }}"
      },
      "continueOnFail": true
    },
    {
      "id": "respond-ok",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook: módulo concluído": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Calcular e salvar lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular e salvar lead score": {
      "main": [
        [
          {
            "node": "Formatar mensagem conquista",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Label Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar mensagem conquista": {
      "main": [
        [
          {
            "node": "Enviar parabéns WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar parabéns WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Label Chatwoot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  }
}