n8n-workflows/12-emit-certificate.json
{
  "name": "Kreativ: Emitir Certificado",
  "nodes": [
    {
      "id": "wh-emit-cert",
      "name": "Webhook: emitir certificado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "emit-certificate",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kreativ-emit-certificate"
    },
    {
      "id": "code-extract",
      "name": "Extrair e validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "try {\n  const body = $input.item.json.body ?? $input.item.json;\n  const phone = String(body.phone ?? '').replace(/\\D/g, '');\n  const moduleNumber = parseInt(String(body.moduleNumber ?? body.moduleId ?? '0'), 10);\n  \n  if (!phone) {\n    return [{ json: { error: true, message: 'phone é obrigatório', phone } }];\n  }\n  \n  return [{ json: { phone, moduleNumber, error: false } }];\n} catch (e) {\n  return [{ json: { error: true, message: e.message, phone: '' } }];\n}"
      }
    },
    {
      "id": "pg-student-info",
      "name": "Buscar dados do aluno",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.name, s.phone, m.title AS module_name, COALESCE(m.course_id, 'Kreativ Educação') AS course_name FROM students s LEFT JOIN modules m ON m.module_number = {{ $json.moduleNumber }} AND m.is_active = true WHERE s.phone = '{{ $json.phone }}' LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-gen-cert",
      "name": "Gerar HTML do certificado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "try {\n  const extracted = $('Extrair e validar').item.json;\n  const data = $input.all()[0]?.json ?? {};\n  const certId = 'KRV-' + Math.random().toString(36).substring(2,10).toUpperCase();\n  const date = new Date().toLocaleDateString('pt-BR', { year:'numeric', month:'long', day:'numeric' });\n  const studentName = data.name ?? extracted.phone;\n  const moduleName = data.module_name ?? 'Módulo Concluído';\n  const courseName = data.course_name ?? 'Kreativ Educação';\n  const phone = data.phone ?? extracted.phone;\n\n  const html = `<!DOCTYPE html><html><head><meta charset='utf-8'><style>body{font-family:'Georgia',serif;text-align:center;padding:60px;border:8px double #2c3e50;margin:40px;background:#fefefe;}h1{color:#2c3e50;font-size:2.5em;}h2{color:#16a085;}.info{font-size:1.2em;margin:20px 0;}.code{color:#7f8c8d;font-size:0.9em;margin-top:40px;}</style></head><body><h1>Certificado de Conclusão</h1><h2>Kreativ Educação</h2><p class='info'>Certificamos que <strong>${studentName}</strong> concluiu com êxito o módulo <strong>${moduleName}</strong> do curso <strong>${courseName}</strong> em ${date}.</p><p class='code'>Código de autenticidade: ${certId}</p></body></html>`;\n\n  const nameEncoded = encodeURIComponent(studentName);\n  const moduloEncoded = encodeURIComponent(moduleName);\n  const cursoEncoded = encodeURIComponent(courseName);\n  const dateEncoded = encodeURIComponent(date);\n  const certPortalUrl = `https://portal.extensionista.site/certificado/${certId}?name=${nameEncoded}&modulo=${moduloEncoded}&curso=${cursoEncoded}&data=${dateEncoded}`;\n\n  return [{ json: { html, certId, certPortalUrl, phone, studentName, error: false } }];\n} catch (e) {\n  return [{ json: { error: true, message: 'Erro ao gerar certificado: ' + e.message, phone: '' } }];\n}"
      }
    },
    {
      "id": "http-upload-minio",
      "name": "Salvar HTML no MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "=http://kreativ_minio:9000/certificados/{{ $json.certId }}.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/html"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawBody": "={{ $json.html }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "http-send-cert-wapp",
      "name": "Enviar link do certificado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Gerar HTML do certificado').item.json.phone, text: '🏆 *Parabéns, ' + $('Gerar HTML do certificado').item.json.studentName + '!*\\n\\nSeu certificado de conclusão foi emitido!\\n\\n📜 Acesse seu certificado:\\n' + $('Gerar HTML do certificado').item.json.certPortalUrl + '\\n\\nCódigo de autenticidade: *' + $('Gerar HTML do certificado').item.json.certId + '*' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "respond-cert",
      "name": "Responder webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, certId: $('Gerar HTML do certificado').item.json.certId ?? 'unknown', certUrl: $('Gerar HTML do certificado').item.json.certPortalUrl ?? '' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook: emitir certificado": {
      "main": [
        [
          {
            "node": "Extrair e validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair e validar": {
      "main": [
        [
          {
            "node": "Buscar dados do aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar dados do aluno": {
      "main": [
        [
          {
            "node": "Gerar HTML do certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar HTML do certificado": {
      "main": [
        [
          {
            "node": "Salvar HTML no MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar HTML no MinIO": {
      "main": [
        [
          {
            "node": "Enviar link do certificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar link do certificado": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  }
}
