n8n-workflows/20-ai-adaptive-router.json
{
    "updatedAt": "2026-02-22T03:37:16.661Z",
    "createdAt": "2026-02-19T17:35:21.211Z",
    "id": "a0RywHWeY5kfgzGT",
    "name": "Kreativ: AI Adaptive Router",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-tutor-v2",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-final",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "kreativ-ai-tutor-v30"
        },
        {
            "parameters": {
                "jsCode": "const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "transformer",
            "name": "Transformer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ \"SELECT name, course_id, current_module, syllabus_config FROM students WHERE phone = '\" + $json.phone + \"' LIMIT 1\" }}",
                "options": {
                    "alwaysOutputData": true
                }
            },
            "id": "get-student-v30",
            "name": "Get Student",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                600,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ \"SELECT title, content_text as syllabus FROM modules m JOIN courses c ON m.course_id = c.slug WHERE c.id = \" + ($json.course_id || 19) + \" AND m.module_number = \" + ($json.current_module || 1) + \" LIMIT 1\" }}",
                "options": {
                    "alwaysOutputData": true
                }
            },
            "id": "get-module-v30",
            "name": "Get Module",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                800,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 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"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: 'deepseek/deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: `ALUNO: ${$node[\"Get Student\"].json.name}\\nEMENTA: ${$node[\"Get Module\"].json.syllabus}\\n\\nD\u00ea a aula amig\u00e1vel.` \n    },\n    { role: 'user', content: $node[\"Transformer\"].json.body }\n  ]\n}) }}",
                "options": {
                    "timeout": 35000
                }
            },
            "id": "openrouter-v30",
            "name": "AI Generator",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://kreativ_builderbot:3008/api/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $node[\"Transformer\"].json.phone, message: $json.choices[0].message.content }) }}"
            },
            "id": "send-wa-v30",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1200,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Transformer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transformer": {
            "main": [
                [
                    {
                        "node": "Get Student",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Student": {
            "main": [
                [
                    {
                        "node": "Get Module",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Module": {
            "main": [
                [
                    {
                        "node": "AI Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Generator": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": "all",
        "saveExecutionProgress": true,
        "errorWorkflow": "mFwiM2dZyKeEgKk6",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "d9483381-456e-4b18-a595-d8ccdf60ac46",
    "activeVersionId": "d9483381-456e-4b18-a595-d8ccdf60ac46",
    "versionCounter": 103,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-19T17:35:21.211Z",
            "createdAt": "2026-02-19T17:35:21.211Z",
            "role": "workflow:owner",
            "workflowId": "a0RywHWeY5kfgzGT",
            "projectId": "q7Bjn5D4LxM4OjYW",
            "project": {
                "updatedAt": "2026-02-17T20:41:01.829Z",
                "createdAt": "2026-02-17T20:32:16.109Z",
                "id": "q7Bjn5D4LxM4OjYW",
                "name": "Rafael da Silva <rafael.luciano@mail.uft.edu.br>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "d7e6ecc8-7259-4124-87c7-29a5f2d233ba"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-21T20:29:47.686Z",
        "createdAt": "2026-02-21T20:29:47.686Z",
        "versionId": "d9483381-456e-4b18-a595-d8ccdf60ac46",
        "workflowId": "a0RywHWeY5kfgzGT",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "ai-tutor-v2",
                    "responseMode": "onReceived",
                    "options": {}
                },
                "id": "webhook-final",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    200,
                    300
                ],
                "webhookId": "kreativ-ai-tutor-v30"
            },
            {
                "parameters": {
                    "jsCode": "const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"
                },
                "id": "transformer",
                "name": "Transformer",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    400,
                    300
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "={{ \"SELECT name, course_id, current_module, syllabus_config FROM students WHERE phone = '\" + $json.phone + \"' LIMIT 1\" }}",
                    "options": {
                        "alwaysOutputData": true
                    }
                },
                "id": "get-student-v30",
                "name": "Get Student",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    600,
                    300
                ],
                "credentials": {
                    "postgres": {
                        "id": "lJaeEy4CpHbhgMAp",
                        "name": "Kreativ PostgreSQL"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "={{ \"SELECT title, content_text as syllabus FROM modules m JOIN courses c ON m.course_id = c.slug WHERE c.id = \" + ($json.course_id || 19) + \" AND m.module_number = \" + ($json.current_module || 1) + \" LIMIT 1\" }}",
                    "options": {
                        "alwaysOutputData": true
                    }
                },
                "id": "get-module-v30",
                "name": "Get Module",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    800,
                    300
                ],
                "credentials": {
                    "postgres": {
                        "id": "lJaeEy4CpHbhgMAp",
                        "name": "Kreativ PostgreSQL"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://openrouter.ai/api/v1/chat/completions",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer 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"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({\n  model: 'deepseek/deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: `ALUNO: ${$node[\"Get Student\"].json.name}\\nEMENTA: ${$node[\"Get Module\"].json.syllabus}\\n\\nD\u00ea a aula amig\u00e1vel.` \n    },\n    { role: 'user', content: $node[\"Transformer\"].json.body }\n  ]\n}) }}",
                    "options": {
                        "timeout": 35000
                    }
                },
                "id": "openrouter-v30",
                "name": "AI Generator",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    1000,
                    300
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://kreativ_builderbot:3008/api/send",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ phone: $node[\"Transformer\"].json.phone, message: $json.choices[0].message.content }) }}"
                },
                "id": "send-wa-v30",
                "name": "Send WhatsApp",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    1200,
                    300
                ]
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Transformer",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Transformer": {
                "main": [
                    [
                        {
                            "node": "Get Student",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Student": {
                "main": [
                    [
                        {
                            "node": "Get Module",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Module": {
                "main": [
                    [
                        {
                            "node": "AI Generator",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Generator": {
                "main": [
                    [
                        {
                            "node": "Send WhatsApp",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "import",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-22T03:37:16.729Z",
                "id": 1540,
                "workflowId": "a0RywHWeY5kfgzGT",
                "versionId": "d9483381-456e-4b18-a595-d8ccdf60ac46",
                "event": "deactivated",
                "userId": "d7e6ecc8-7259-4124-87c7-29a5f2d233ba"
            },
            {
                "createdAt": "2026-02-22T03:37:16.746Z",
                "id": 1541,
                "workflowId": "a0RywHWeY5kfgzGT",
                "versionId": "d9483381-456e-4b18-a595-d8ccdf60ac46",
                "event": "activated",
                "userId": "d7e6ecc8-7259-4124-87c7-29a5f2d233ba"
            }
        ]
    }
}
