n8n-workflows/20-ai-router-v3.json
{"updatedAt":"2026-02-20T01:16:59.270Z","createdAt":"2026-02-19T20:30:05.110Z","id":"5caL67H387euTxan","name":"Kreativ: AI Adaptive Router V3 (Redis Memory + RAG)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-tutor-v3","options":{}},"id":"webhook-start","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,304],"webhookId":"kreativ-ai-tutor-v3"},{"parameters":{"jsCode":"const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"transformer","name":"Transformer","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,304]},{"parameters":{"operation":"executeQuery","query":"SELECT s.name, s.course_id, s.current_module, c.name as course_name, s.lead_score\nFROM students s\nLEFT JOIN courses c ON s.course_id = c.id\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"id":"pg-get-student","name":"Get Student Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,304],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst guard = $('Redis: Read History').first().json;\nconst phone = guard.phone;\nconst body  = guard.body;\n\n// Usar dados do aluno se encontrado no DB (mesmo sem nome)\nif (rows.length > 0 && rows[0].json.course_id) {\n  const std = rows[0].json;\n  return [{ json: { ...std, phone, body, name: std.name || 'Aluno' } }];\n}\n// Fallback para aluno não cadastrado\nreturn [{ json: {\n  name: 'Visitante',\n  course_id: 19,\n  current_module: 1,\n  course_name: 'IA no Dia a Dia',\n  lead_score: 0,\n  phone,\n  body\n} }];"},"id":"get-student-fallback","name":"Get Student Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,304]},{"parameters":{"jsCode":"// Agrega dados do Combined Context Query (sempre 1 item)\nconst std     = $('Get Student Fallback').first().json;\nconst guard   = $('Redis: Read History').first().json;\nconst phone   = guard.phone;\nconst userMessage = guard.body;\n\n// Histórico deserializado\nconst historyRaw = guard.historyMessages || [];\nlet history = [];\ntry { history = historyRaw.map(h => JSON.parse(h)).reverse(); }\ncatch(e) { history = []; }\n\n// Dados do Combined Context Query\nlet ctxRow = {};\ntry { ctxRow = $('Combined Context Query').first().json; } catch(e) {}\n\nconst moduleRow   = ctxRow.module_row   || null;\nconst fewshotRows = Array.isArray(ctxRow.fewshot)    ? ctxRow.fewshot    : [];\nconst ragChunks   = Array.isArray(ctxRow.rag_chunks) ? ctxRow.rag_chunks : [];\n\n// Módulo com fallback\nconst mod = moduleRow || {\n  title: 'Introdução', syllabus: 'Conteúdo em preparação.', evaluation_rubric: null\n};\n\n// Few-shot examples\nconst examples = fewshotRows.length > 0\n  ? fewshotRows.map(m => `P: ${m.question}\\nR: ${m.answer}`).join('\\n---\\n')\n  : '';\n\n// Contexto RAG (chunks > ementa)\nlet ragContext = '';\nif (ragChunks.length > 0) {\n  ragContext = '\\n\\nMATERIAL DO MÓDULO (BASE DE CONHECIMENTO):\\n' +\n    ragChunks.map((c, i) => `[${i+1}] ${c.content}`).join('\\n\\n');\n} else if (mod.syllabus) {\n  ragContext = '\\n\\nEMENTA DO MÓDULO:\\n' + mod.syllabus;\n}\n\nconst rubric = mod.evaluation_rubric\n  ? `\\n\\nCRITÉRIO DE AVALIAÇÃO:\\n${mod.evaluation_rubric}` : '';\n\nreturn [{\n  json: {\n    syllabus: mod.syllabus || 'Conteúdo em preparação.',\n    rubric,\n    rag_context: ragContext,\n    student_name: std.name || 'Estudante',\n    course_name: std.course_name || 'Kreativ Educação',\n    course_id: std.course_id || 19,\n    current_module: std.current_module || 1,\n    lead_score: std.lead_score || 0,\n    examples,\n    history,\n    phone,\n    userMessage,\n    rag_available: ragChunks.length > 0\n  }\n}];"},"id":"aggregator","name":"Agregador de Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,304]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({model:$json.dsModel,messages:$json.dsMessages,temperature:$json.dsTemperature,max_tokens:$json.dsMaxTokens}) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"deepseek-ai","name":"DeepSeek AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,304],"continueOnFail":true},{"parameters":{"jsCode":"const reqNode = $('Build DeepSeek Request').first().json;\nconst phone = reqNode.phone;\nconst userMessage = reqNode.userMessage;\n\nlet choices;\ntry {\n  choices = $json.choices && $json.choices.length > 0\n    ? $json.choices\n    : [{ message: { content: 'Desculpe, tive um problema técnico. Pode repetir sua pergunta?' } }];\n} catch(e) {\n  choices = [{ message: { content: 'Desculpe, tive um problema técnico. Pode repetir sua pergunta?' } }];\n}\n\nreturn [{ json: { choices, phone, userMessage } }];"},"id":"code-check-ai","name":"Check AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,304]},{"parameters":{"method":"POST","url":"http://kreativ_evolution:8080/message/sendText/europs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({number:$json.phone,text:$json.aiContent}) }}","options":{}},"id":"send-wa","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2384,304],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH module_data AS (\n  SELECT title, content_text AS syllabus, evaluation_rubric\n  FROM modules\n  WHERE course_int_id = {{ $json.course_id }}\n    AND module_number = {{ $json.current_module }}\n  LIMIT 1\n),\nfewshot_data AS (\n  SELECT question, answer\n  FROM training_memory\n  WHERE course_id = '{{ $json.course_id }}'\n     OR student_phone = '{{ $json.phone }}'\n  ORDER BY created_at DESC\n  LIMIT 3\n),\nrag_data AS (\n  SELECT dc.content, dc.metadata::text AS metadata\n  FROM document_chunks dc\n  JOIN modules m ON dc.module_id = m.id\n  WHERE m.course_int_id = {{ $json.course_id }}\n    AND m.module_number = {{ $json.current_module }}\n  ORDER BY dc.chunk_index ASC\n  LIMIT 5\n)\nSELECT\n  (SELECT row_to_json(md.*) FROM module_data md LIMIT 1) AS module_row,\n  (SELECT json_agg(fd.*)    FROM fewshot_data fd)        AS fewshot,\n  (SELECT json_agg(rd.*)    FROM rag_data rd)             AS rag_chunks;","options":{}},"id":"pg-combined-context","name":"Combined Context Query","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1552,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"// Redis Write History via TCP RESP protocol (direto, sem credencial N8N)\nconst net = require('net');\nconst REDIS_HOST = 'kreativ_redis';\nconst REDIS_PASS = 'kNiaYOxriWOcSiZyXhb5C9LU';\nconst REDIS_PORT = 6379;\n\nconst phone = $json.phone || '';\nconst userMsg = ($json.userMessage || '').substring(0, 1500);\nconst aiMsg = ($json.choices && $json.choices[0] && $json.choices[0].message)\n  ? $json.choices[0].message.content.substring(0, 1500) : '';\n\nif (!phone) return [{ json: { error: 'no phone' } }];\n\nconst key = 'chat_history:' + phone;\nconst userEntry = JSON.stringify({ role: 'user', content: userMsg });\nconst aiEntry   = JSON.stringify({ role: 'assistant', content: aiMsg });\n\nfunction mkCmd(args) {\n  const CRLF = '\\r\\n';\n  let out = '*' + args.length + CRLF;\n  for (const a of args) {\n    const s = String(a);\n    out += '$' + Buffer.byteLength(s, 'utf8') + CRLF + s + CRLF;\n  }\n  return out;\n}\n\nreturn new Promise((resolve) => {\n  const client = new net.Socket();\n  let buf = '';\n  let done = false;\n  const okCount = { n: 0 };\n\n  const finish = (result) => {\n    if (done) return;\n    done = true;\n    try { client.destroy(); } catch(e) {}\n    resolve(result);\n  };\n\n  client.connect(REDIS_PORT, REDIS_HOST, () => {\n    client.write(mkCmd(['AUTH', REDIS_PASS]));\n    client.write(mkCmd(['LPUSH', key, userEntry]));\n    client.write(mkCmd(['LPUSH', key, aiEntry]));\n    client.write(mkCmd(['LTRIM', key, '0', '19']));\n    client.write(mkCmd(['EXPIRE', key, '86400']));\n  });\n\n  client.on('data', (data) => {\n    buf += data.toString('utf8');\n    const parts = buf.split('\\r\\n');\n    const oks = parts.filter(p => p.startsWith('+') || p.startsWith(':'));\n    okCount.n = oks.length;\n    if (oks.length >= 5) {\n      finish([{ json: { phone, key, ok: oks.length, history_written: true, aiContent: aiMsg } }]);\n    }\n  });\n\n  client.on('error', (err) => {\n    finish([{ json: { phone, key, error: err.message, aiContent: aiMsg } }]);\n  });\n\n  client.on('close', () => {\n    finish([{ json: { phone, key, ok: okCount.n, closed: true, aiContent: aiMsg } }]);\n  });\n\n  setTimeout(() => {\n    finish([{ json: { phone, key, ok: okCount.n, timeout: true, aiContent: aiMsg } }]);\n  }, 5000);\n});\n"},"id":"redis-write-history","name":"Redis: Write History","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,304],"continueOnFail":true},{"parameters":{"jsCode":"// Build DeepSeek request body (retorna objeto, nao string)\nconst ctx = $json;\nconst historyRaw = ctx.history || [];\n\nconst historyMessages = historyRaw.map(function(h) {\n  return { role: h.role, content: h.content };\n});\n\nconst systemLines = [\n  \"Voce e o Tutor IA da Kreativ Educacao. Responda em portugues, conciso e encorajador (max 3 paragrafos WhatsApp).\",\n  \"CURSO: \" + (ctx.course_name || \"Kreativ\") + \" | MODULO: \" + (ctx.current_module || 1),\n  \"ALUNO: \" + (ctx.student_name || \"Estudante\")\n];\n\nif (ctx.rag_context) {\n  systemLines.push(ctx.rag_context);\n} else if (ctx.syllabus) {\n  systemLines.push(\"EMENTA: \" + ctx.syllabus.substring(0, 800));\n}\n\nconst systemPrompt = systemLines.filter(Boolean).join(\"\\n\");\n\nconst allMessages = [{ role: \"system\", content: systemPrompt }];\nfor (const m of historyMessages) { allMessages.push(m); }\nallMessages.push({ role: \"user\", content: ctx.userMessage || \"\" });\n\nreturn [{\n  json: {\n    phone: ctx.phone,\n    userMessage: ctx.userMessage,\n    dsModel: \"deepseek-chat\",\n    dsMessages: allMessages,\n    dsTemperature: 0.7,\n    dsMaxTokens: 400\n  }\n}];"},"id":"build-deepseek-req","name":"Build DeepSeek Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,304]},{"parameters":{"jsCode":"// Redis Read History via TCP RESP protocol (direto, sem credencial N8N)\nconst net = require('net');\nconst REDIS_HOST = 'kreativ_redis';\nconst REDIS_PASS = 'kNiaYOxriWOcSiZyXhb5C9LU';\nconst REDIS_PORT = 6379;\n\nconst phone = $json.phone || '';\nconst body  = $json.body  || '';\n\nif (!phone) return [{ json: { historyMessages: [], phone, body } }];\n\nconst key = 'chat_history:' + phone;\n\nfunction mkCmd(args) {\n  const CRLF = '\\r\\n';\n  let out = '*' + args.length + CRLF;\n  for (const a of args) {\n    const s = String(a);\n    out += '$' + Buffer.byteLength(s, 'utf8') + CRLF + s + CRLF;\n  }\n  return out;\n}\n\nfunction parseRespArray(buf) {\n  // Parse RESP bulk string array from LRANGE response\n  const lines = buf.split('\\r\\n');\n  const results = [];\n  let i = 0;\n  // Skip AUTH response (+OK)\n  while (i < lines.length && !lines[i].startsWith('*')) i++;\n  if (i >= lines.length) return results;\n\n  const count = parseInt(lines[i].substring(1), 10);\n  i++;\n  for (let j = 0; j < count; j++) {\n    if (i >= lines.length) break;\n    if (lines[i].startsWith('$')) {\n      i++; // skip length line\n      if (i < lines.length) {\n        results.push(lines[i]);\n        i++;\n      }\n    } else {\n      i++;\n    }\n  }\n  return results;\n}\n\nreturn new Promise((resolve) => {\n  const client = new net.Socket();\n  let buf = '';\n  let done = false;\n\n  const finish = (messages) => {\n    if (done) return;\n    done = true;\n    try { client.destroy(); } catch(e) {}\n    resolve([{ json: { historyMessages: messages, phone, body } }]);\n  };\n\n  client.connect(REDIS_PORT, REDIS_HOST, () => {\n    client.write(mkCmd(['AUTH', REDIS_PASS]));\n    client.write(mkCmd(['LRANGE', key, '0', '9']));\n  });\n\n  client.on('data', (data) => {\n    buf += data.toString('utf8');\n    // AUTH response = +OK\\r\\n (5 bytes)\n    // Wait for LRANGE response (starts with * or $-1 for nil)\n    if (buf.includes('+OK\\r\\n') && (buf.includes('*') || buf.includes('$-1'))) {\n      const afterAuth = buf.substring(buf.indexOf('+OK\\r\\n') + 5);\n      if (afterAuth.startsWith('*0')) {\n        finish([]);\n      } else if (afterAuth.startsWith('*')) {\n        // Has items - wait for complete response\n        const countMatch = afterAuth.match(/^\\*(\\d+)/);\n        if (countMatch) {\n          const expected = parseInt(countMatch[1], 10);\n          // Each item: $N\\r\\n{content}\\r\\n = at least expected*2 more lines\n          const parts = afterAuth.split('\\r\\n');\n          const dataLines = parts.filter(p => p.length > 0 && !p.startsWith('*') && !p.startsWith('$'));\n          if (dataLines.length >= expected) {\n            const messages = parseRespArray(buf);\n            finish(messages);\n          }\n        }\n      } else if (afterAuth.startsWith('$-1')) {\n        finish([]);\n      }\n    }\n  });\n\n  client.on('error', (err) => {\n    if (done) return;\n    done = true;\n    resolve([{ json: { historyMessages: [], phone, body, error: err.message } }]);\n  });\n\n  client.on('close', () => {\n    if (!done) {\n      const messages = buf.includes('+OK\\r\\n') ? parseRespArray(buf) : [];\n      finish(messages);\n    }\n  });\n\n  setTimeout(() => {\n    if (!done) {\n      const messages = buf.includes('+OK\\r\\n') ? parseRespArray(buf) : [];\n      finish(messages);\n    }\n  }, 3000);\n});\n"},"id":"redis-read-history-tcp","name":"Redis: Read History","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304],"continueOnFail":true}],"connections":{"Webhook":{"main":[[{"node":"Transformer","type":"main","index":0}]]},"Transformer":{"main":[[{"node":"Redis: Read History","type":"main","index":0}]]},"Get Student Info":{"main":[[{"node":"Get Student Fallback","type":"main","index":0}]]},"Get Student Fallback":{"main":[[{"node":"Combined Context Query","type":"main","index":0}]]},"Agregador de Contexto":{"main":[[{"node":"Build DeepSeek Request","type":"main","index":0}]]},"DeepSeek AI":{"main":[[{"node":"Check AI Response","type":"main","index":0}]]},"Check AI Response":{"main":[[{"node":"Redis: Write History","type":"main","index":0}]]},"Combined Context Query":{"main":[[{"node":"Agregador de Contexto","type":"main","index":0}]]},"Redis: Write History":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Build DeepSeek Request":{"main":[[{"node":"DeepSeek AI","type":"main","index":0}]]},"Redis: Read History":{"main":[[{"node":"Get Student Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","activeVersionId":"84f560c4-da15-4634-92be-85ec06d6fd36","versionCounter":133,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T20:30:05.110Z","createdAt":"2026-02-19T20:30:05.110Z","role":"workflow:owner","workflowId":"5caL67H387euTxan","projectId":"q7Bjn5D4LxM4OjYW","project":{"updatedAt":"2026-02-17T20:41:01.829Z","createdAt":"2026-02-17T20:32:16.109Z","id":"q7Bjn5D4LxM4OjYW","name":"Rafael da Silva <rafael.luciano@mail.uft.edu.br>","type":"personal","icon":null,"description":null,"creatorId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-20T01:16:59.271Z","createdAt":"2026-02-20T01:16:59.271Z","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","workflowId":"5caL67H387euTxan","nodes":[{"parameters":{"httpMethod":"POST","path":"ai-tutor-v3","options":{}},"id":"webhook-start","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[80,304],"webhookId":"kreativ-ai-tutor-v3"},{"parameters":{"jsCode":"const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"transformer","name":"Transformer","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,304]},{"parameters":{"operation":"executeQuery","query":"SELECT s.name, s.course_id, s.current_module, c.name as course_name, s.lead_score\nFROM students s\nLEFT JOIN courses c ON s.course_id = c.id\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"id":"pg-get-student","name":"Get Student Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,304],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst guard = $('Redis: Read History').first().json;\nconst phone = guard.phone;\nconst body  = guard.body;\n\n// Usar dados do aluno se encontrado no DB (mesmo sem nome)\nif (rows.length > 0 && rows[0].json.course_id) {\n  const std = rows[0].json;\n  return [{ json: { ...std, phone, body, name: std.name || 'Aluno' } }];\n}\n// Fallback para aluno não cadastrado\nreturn [{ json: {\n  name: 'Visitante',\n  course_id: 19,\n  current_module: 1,\n  course_name: 'IA no Dia a Dia',\n  lead_score: 0,\n  phone,\n  body\n} }];"},"id":"get-student-fallback","name":"Get Student Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,304]},{"parameters":{"jsCode":"// Agrega dados do Combined Context Query (sempre 1 item)\nconst std     = $('Get Student Fallback').first().json;\nconst guard   = $('Redis: Read History').first().json;\nconst phone   = guard.phone;\nconst userMessage = guard.body;\n\n// Histórico deserializado\nconst historyRaw = guard.historyMessages || [];\nlet history = [];\ntry { history = historyRaw.map(h => JSON.parse(h)).reverse(); }\ncatch(e) { history = []; }\n\n// Dados do Combined Context Query\nlet ctxRow = {};\ntry { ctxRow = $('Combined Context Query').first().json; } catch(e) {}\n\nconst moduleRow   = ctxRow.module_row   || null;\nconst fewshotRows = Array.isArray(ctxRow.fewshot)    ? ctxRow.fewshot    : [];\nconst ragChunks   = Array.isArray(ctxRow.rag_chunks) ? ctxRow.rag_chunks : [];\n\n// Módulo com fallback\nconst mod = moduleRow || {\n  title: 'Introdução', syllabus: 'Conteúdo em preparação.', evaluation_rubric: null\n};\n\n// Few-shot examples\nconst examples = fewshotRows.length > 0\n  ? fewshotRows.map(m => `P: ${m.question}\\nR: ${m.answer}`).join('\\n---\\n')\n  : '';\n\n// Contexto RAG (chunks > ementa)\nlet ragContext = '';\nif (ragChunks.length > 0) {\n  ragContext = '\\n\\nMATERIAL DO MÓDULO (BASE DE CONHECIMENTO):\\n' +\n    ragChunks.map((c, i) => `[${i+1}] ${c.content}`).join('\\n\\n');\n} else if (mod.syllabus) {\n  ragContext = '\\n\\nEMENTA DO MÓDULO:\\n' + mod.syllabus;\n}\n\nconst rubric = mod.evaluation_rubric\n  ? `\\n\\nCRITÉRIO DE AVALIAÇÃO:\\n${mod.evaluation_rubric}` : '';\n\nreturn [{\n  json: {\n    syllabus: mod.syllabus || 'Conteúdo em preparação.',\n    rubric,\n    rag_context: ragContext,\n    student_name: std.name || 'Estudante',\n    course_name: std.course_name || 'Kreativ Educação',\n    course_id: std.course_id || 19,\n    current_module: std.current_module || 1,\n    lead_score: std.lead_score || 0,\n    examples,\n    history,\n    phone,\n    userMessage,\n    rag_available: ragChunks.length > 0\n  }\n}];"},"id":"aggregator","name":"Agregador de Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,304]},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({model:$json.dsModel,messages:$json.dsMessages,temperature:$json.dsTemperature,max_tokens:$json.dsMaxTokens}) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"deepseek-ai","name":"DeepSeek AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,304],"continueOnFail":true},{"parameters":{"jsCode":"const reqNode = $('Build DeepSeek Request').first().json;\nconst phone = reqNode.phone;\nconst userMessage = reqNode.userMessage;\n\nlet choices;\ntry {\n  choices = $json.choices && $json.choices.length > 0\n    ? $json.choices\n    : [{ message: { content: 'Desculpe, tive um problema técnico. Pode repetir sua pergunta?' } }];\n} catch(e) {\n  choices = [{ message: { content: 'Desculpe, tive um problema técnico. Pode repetir sua pergunta?' } }];\n}\n\nreturn [{ json: { choices, phone, userMessage } }];"},"id":"code-check-ai","name":"Check AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,304]},{"parameters":{"method":"POST","url":"http://kreativ_evolution:8080/message/sendText/europs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({number:$json.phone,text:$json.aiContent}) }}","options":{}},"id":"send-wa","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2384,304],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH module_data AS (\n  SELECT title, content_text AS syllabus, evaluation_rubric\n  FROM modules\n  WHERE course_int_id = {{ $json.course_id }}\n    AND module_number = {{ $json.current_module }}\n  LIMIT 1\n),\nfewshot_data AS (\n  SELECT question, answer\n  FROM training_memory\n  WHERE course_id = '{{ $json.course_id }}'\n     OR student_phone = '{{ $json.phone }}'\n  ORDER BY created_at DESC\n  LIMIT 3\n),\nrag_data AS (\n  SELECT dc.content, dc.metadata::text AS metadata\n  FROM document_chunks dc\n  JOIN modules m ON dc.module_id = m.id\n  WHERE m.course_int_id = {{ $json.course_id }}\n    AND m.module_number = {{ $json.current_module }}\n  ORDER BY dc.chunk_index ASC\n  LIMIT 5\n)\nSELECT\n  (SELECT row_to_json(md.*) FROM module_data md LIMIT 1) AS module_row,\n  (SELECT json_agg(fd.*)    FROM fewshot_data fd)        AS fewshot,\n  (SELECT json_agg(rd.*)    FROM rag_data rd)             AS rag_chunks;","options":{}},"id":"pg-combined-context","name":"Combined Context Query","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1552,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"// Redis Write History via TCP RESP protocol (direto, sem credencial N8N)\nconst net = require('net');\nconst REDIS_HOST = 'kreativ_redis';\nconst REDIS_PASS = 'kNiaYOxriWOcSiZyXhb5C9LU';\nconst REDIS_PORT = 6379;\n\nconst phone = $json.phone || '';\nconst userMsg = ($json.userMessage || '').substring(0, 1500);\nconst aiMsg = ($json.choices && $json.choices[0] && $json.choices[0].message)\n  ? $json.choices[0].message.content.substring(0, 1500) : '';\n\nif (!phone) return [{ json: { error: 'no phone' } }];\n\nconst key = 'chat_history:' + phone;\nconst userEntry = JSON.stringify({ role: 'user', content: userMsg });\nconst aiEntry   = JSON.stringify({ role: 'assistant', content: aiMsg });\n\nfunction mkCmd(args) {\n  const CRLF = '\\r\\n';\n  let out = '*' + args.length + CRLF;\n  for (const a of args) {\n    const s = String(a);\n    out += '$' + Buffer.byteLength(s, 'utf8') + CRLF + s + CRLF;\n  }\n  return out;\n}\n\nreturn new Promise((resolve) => {\n  const client = new net.Socket();\n  let buf = '';\n  let done = false;\n  const okCount = { n: 0 };\n\n  const finish = (result) => {\n    if (done) return;\n    done = true;\n    try { client.destroy(); } catch(e) {}\n    resolve(result);\n  };\n\n  client.connect(REDIS_PORT, REDIS_HOST, () => {\n    client.write(mkCmd(['AUTH', REDIS_PASS]));\n    client.write(mkCmd(['LPUSH', key, userEntry]));\n    client.write(mkCmd(['LPUSH', key, aiEntry]));\n    client.write(mkCmd(['LTRIM', key, '0', '19']));\n    client.write(mkCmd(['EXPIRE', key, '86400']));\n  });\n\n  client.on('data', (data) => {\n    buf += data.toString('utf8');\n    const parts = buf.split('\\r\\n');\n    const oks = parts.filter(p => p.startsWith('+') || p.startsWith(':'));\n    okCount.n = oks.length;\n    if (oks.length >= 5) {\n      finish([{ json: { phone, key, ok: oks.length, history_written: true, aiContent: aiMsg } }]);\n    }\n  });\n\n  client.on('error', (err) => {\n    finish([{ json: { phone, key, error: err.message, aiContent: aiMsg } }]);\n  });\n\n  client.on('close', () => {\n    finish([{ json: { phone, key, ok: okCount.n, closed: true, aiContent: aiMsg } }]);\n  });\n\n  setTimeout(() => {\n    finish([{ json: { phone, key, ok: okCount.n, timeout: true, aiContent: aiMsg } }]);\n  }, 5000);\n});\n"},"id":"redis-write-history","name":"Redis: Write History","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,304],"continueOnFail":true},{"parameters":{"jsCode":"// Build DeepSeek request body (retorna objeto, nao string)\nconst ctx = $json;\nconst historyRaw = ctx.history || [];\n\nconst historyMessages = historyRaw.map(function(h) {\n  return { role: h.role, content: h.content };\n});\n\nconst systemLines = [\n  \"Voce e o Tutor IA da Kreativ Educacao. Responda em portugues, conciso e encorajador (max 3 paragrafos WhatsApp).\",\n  \"CURSO: \" + (ctx.course_name || \"Kreativ\") + \" | MODULO: \" + (ctx.current_module || 1),\n  \"ALUNO: \" + (ctx.student_name || \"Estudante\")\n];\n\nif (ctx.rag_context) {\n  systemLines.push(ctx.rag_context);\n} else if (ctx.syllabus) {\n  systemLines.push(\"EMENTA: \" + ctx.syllabus.substring(0, 800));\n}\n\nconst systemPrompt = systemLines.filter(Boolean).join(\"\\n\");\n\nconst allMessages = [{ role: \"system\", content: systemPrompt }];\nfor (const m of historyMessages) { allMessages.push(m); }\nallMessages.push({ role: \"user\", content: ctx.userMessage || \"\" });\n\nreturn [{\n  json: {\n    phone: ctx.phone,\n    userMessage: ctx.userMessage,\n    dsModel: \"deepseek-chat\",\n    dsMessages: allMessages,\n    dsTemperature: 0.7,\n    dsMaxTokens: 400\n  }\n}];"},"id":"build-deepseek-req","name":"Build DeepSeek Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,304]},{"parameters":{"jsCode":"// Redis Read History via TCP RESP protocol (direto, sem credencial N8N)\nconst net = require('net');\nconst REDIS_HOST = 'kreativ_redis';\nconst REDIS_PASS = 'kNiaYOxriWOcSiZyXhb5C9LU';\nconst REDIS_PORT = 6379;\n\nconst phone = $json.phone || '';\nconst body  = $json.body  || '';\n\nif (!phone) return [{ json: { historyMessages: [], phone, body } }];\n\nconst key = 'chat_history:' + phone;\n\nfunction mkCmd(args) {\n  const CRLF = '\\r\\n';\n  let out = '*' + args.length + CRLF;\n  for (const a of args) {\n    const s = String(a);\n    out += '$' + Buffer.byteLength(s, 'utf8') + CRLF + s + CRLF;\n  }\n  return out;\n}\n\nfunction parseRespArray(buf) {\n  // Parse RESP bulk string array from LRANGE response\n  const lines = buf.split('\\r\\n');\n  const results = [];\n  let i = 0;\n  // Skip AUTH response (+OK)\n  while (i < lines.length && !lines[i].startsWith('*')) i++;\n  if (i >= lines.length) return results;\n\n  const count = parseInt(lines[i].substring(1), 10);\n  i++;\n  for (let j = 0; j < count; j++) {\n    if (i >= lines.length) break;\n    if (lines[i].startsWith('$')) {\n      i++; // skip length line\n      if (i < lines.length) {\n        results.push(lines[i]);\n        i++;\n      }\n    } else {\n      i++;\n    }\n  }\n  return results;\n}\n\nreturn new Promise((resolve) => {\n  const client = new net.Socket();\n  let buf = '';\n  let done = false;\n\n  const finish = (messages) => {\n    if (done) return;\n    done = true;\n    try { client.destroy(); } catch(e) {}\n    resolve([{ json: { historyMessages: messages, phone, body } }]);\n  };\n\n  client.connect(REDIS_PORT, REDIS_HOST, () => {\n    client.write(mkCmd(['AUTH', REDIS_PASS]));\n    client.write(mkCmd(['LRANGE', key, '0', '9']));\n  });\n\n  client.on('data', (data) => {\n    buf += data.toString('utf8');\n    // AUTH response = +OK\\r\\n (5 bytes)\n    // Wait for LRANGE response (starts with * or $-1 for nil)\n    if (buf.includes('+OK\\r\\n') && (buf.includes('*') || buf.includes('$-1'))) {\n      const afterAuth = buf.substring(buf.indexOf('+OK\\r\\n') + 5);\n      if (afterAuth.startsWith('*0')) {\n        finish([]);\n      } else if (afterAuth.startsWith('*')) {\n        // Has items - wait for complete response\n        const countMatch = afterAuth.match(/^\\*(\\d+)/);\n        if (countMatch) {\n          const expected = parseInt(countMatch[1], 10);\n          // Each item: $N\\r\\n{content}\\r\\n = at least expected*2 more lines\n          const parts = afterAuth.split('\\r\\n');\n          const dataLines = parts.filter(p => p.length > 0 && !p.startsWith('*') && !p.startsWith('$'));\n          if (dataLines.length >= expected) {\n            const messages = parseRespArray(buf);\n            finish(messages);\n          }\n        }\n      } else if (afterAuth.startsWith('$-1')) {\n        finish([]);\n      }\n    }\n  });\n\n  client.on('error', (err) => {\n    if (done) return;\n    done = true;\n    resolve([{ json: { historyMessages: [], phone, body, error: err.message } }]);\n  });\n\n  client.on('close', () => {\n    if (!done) {\n      const messages = buf.includes('+OK\\r\\n') ? parseRespArray(buf) : [];\n      finish(messages);\n    }\n  });\n\n  setTimeout(() => {\n    if (!done) {\n      const messages = buf.includes('+OK\\r\\n') ? parseRespArray(buf) : [];\n      finish(messages);\n    }\n  }, 3000);\n});\n"},"id":"redis-read-history-tcp","name":"Redis: Read History","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304],"continueOnFail":true}],"connections":{"Webhook":{"main":[[{"node":"Transformer","type":"main","index":0}]]},"Transformer":{"main":[[{"node":"Redis: Read History","type":"main","index":0}]]},"Get Student Info":{"main":[[{"node":"Get Student Fallback","type":"main","index":0}]]},"Get Student Fallback":{"main":[[{"node":"Combined Context Query","type":"main","index":0}]]},"Agregador de Contexto":{"main":[[{"node":"Build DeepSeek Request","type":"main","index":0}]]},"DeepSeek AI":{"main":[[{"node":"Check AI Response","type":"main","index":0}]]},"Check AI Response":{"main":[[{"node":"Redis: Write History","type":"main","index":0}]]},"Combined Context Query":{"main":[[{"node":"Agregador de Contexto","type":"main","index":0}]]},"Redis: Write History":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Build DeepSeek Request":{"main":[[{"node":"DeepSeek AI","type":"main","index":0}]]},"Redis: Read History":{"main":[[{"node":"Get Student Info","type":"main","index":0}]]}},"authors":"Rafael da Silva","name":null,"description":null,"autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-20T01:32:02.596Z","id":1245,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:35:04.226Z","id":1246,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:35:04.244Z","id":1247,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:36:02.470Z","id":1250,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:36:02.485Z","id":1251,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:35:34.198Z","id":1248,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:35:34.213Z","id":1249,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:37:35.072Z","id":1252,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-20T01:37:35.086Z","id":1253,"workflowId":"5caL67H387euTxan","versionId":"84f560c4-da15-4634-92be-85ec06d6fd36","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}]}}