n8n-workflows/60-kreativ-api-v1.1.json
{"updatedAt":"2026-02-21T19:58:01.721Z","createdAt":"2026-02-21T11:31:35.813Z","id":"tOGGjrzk3ZImsK81","name":"Kreativ: Unified API Router (v1)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kreativ-unified-api","responseMode":"responseNode","options":{}},"name":"Webhook API","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"kreativ-unified-api-id","id":"c17e251c-8b7f-42d0-b909-f6d40fc662a6"},{"parameters":{"jsCode":"const body = $json.body || $json;\nconst phone = String(body.phone || '').replace(/\\D/g, '');\nconst action = body.action || 'check_student';\n\nreturn [{ json: { ...body, phone, action } }];"},"name":"Normalizar Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"961797f1-13f9-4a19-9cd3-60c6ef54e941"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"check_student","operator":{"type":"string","operation":"equals"},"id":"d7ec4d9b-55df-4879-9d42-92d2aae0bc81"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"request_human","operator":{"type":"string","operation":"equals"},"id":"840657e4-bbd8-44ab-b833-65b323ecf2e6"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"get_module","operator":{"type":"string","operation":"equals"},"id":"f221c316-6508-4d5c-91bc-dd9ffe24eb5a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"get_progress","operator":{"type":"string","operation":"equals"},"id":"919cc4d1-d8eb-4392-a6e1-9ff88251e9e1"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"submit_quiz","operator":{"type":"string","operation":"equals"},"id":"a1dff233-cf5b-43a5-bd79-7ddfa8cb4032"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"ai_tutor","operator":{"type":"string","operation":"equals"},"id":"aec41610-bec7-4e7a-b5b3-35ac0fd50300"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"rag_ingest","operator":{"type":"string","operation":"equals"},"id":"7e3c55ea-05d1-45ac-b46c-57ce616034ee"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"emit_certificate","operator":{"type":"string","operation":"equals"},"id":"728f6081-3876-469e-87b6-e2ccd6ba5a44"}],"combinator":"and"}}]},"options":{}},"name":"Roteador de Ações","type":"n8n-nodes-base.switch","typeVersion":3,"position":[448,0],"id":"ccf32f4a-1b7e-46fe-a4b5-0e505f3a283d"},{"parameters":{"operation":"executeQuery","query":"SELECT s.id, s.name, s.phone, s.course_id, s.current_module,\n       s.completed_modules, s.portal_token, s.lead_score,\n       c.name as course_name,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules,\n       COALESCE(h.status, s.attendance_status) as status\nFROM students s\nLEFT JOIN courses c ON c.id = s.course_id\nLEFT JOIN handoff_control h ON h.phone = s.phone\nWHERE s.phone = '{{ $json.phone }}'\n   OR (length('{{ $json.phone }}') = 12\n       AND s.phone = concat(left('{{ $json.phone }}', 2), '9', right('{{ $json.phone }}', 10)))\nLIMIT 1","options":{}},"name":"Check: Buscar Aluno","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-208],"id":"0ffb8379-5613-4a29-8e92-e5199142b810","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst input = $('Normalizar Input').first().json;\n\nif (!rows || rows.length === 0 || !rows[0].json.id) {\n  return [{ json: { status: 'unknown', phone: input.phone } }];\n}\n\nconst row = rows[0].json;\nconst status = row.status || 'bot';\n\nif (status === 'human') {\n  return [{ json: { status: 'human', phone: input.phone } }];\n}\n\nconst completed = Array.isArray(row.completed_modules) ? row.completed_modules.length : 0;\nconst total = row.total_modules || 1;\nconst pct = Math.round((completed / total) * 100);\nconst is_last_module = row.current_module >= total;\nconst course_completed = completed >= total;\n\nreturn [{ json: {\n  status: 'bot',\n  id: row.id,\n  name: row.name || 'Aluno',\n  first_name: (row.name || 'Aluno').split(' ')[0],\n  phone: row.phone,\n  course_id: row.course_id,\n  course_name: row.course_name,\n  current_module: row.current_module,\n  completed_modules: row.completed_modules || [],\n  total_modules: total,\n  progress_pct: pct,\n  is_last_module,\n  course_completed,\n  portal_token: row.portal_token,\n  lead_score: row.lead_score || 0\n} }];"},"name":"Check: Formatar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-208],"id":"382c145a-d84f-48f7-93e8-a8c700d1fccb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO handoff_control (phone, status, last_handoff)\nVALUES ('{{ $json.phone }}', 'human', NOW())\nON CONFLICT (phone) DO UPDATE SET status = 'human', last_handoff = NOW();\n\nUPDATE students SET attendance_status = 'human', updated_at = NOW()\nWHERE phone = '{{ $json.phone }}';\n\nINSERT INTO support_sessions (student_id, reason)\nSELECT id, '{{ ($json.reason || \"Solicitação via Typebot\") | replace(\"'\", \"''\") }}'\nFROM students\nWHERE phone = '{{ $json.phone }}'\nLIMIT 1;","options":{}},"name":"Human: Atualizar DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,0],"id":"32f91a7d-5a68-4ab3-834b-4ab65bf05d86","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/request-human-support","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"name":"Human: Chatwoot Flow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,0],"id":"d0a12f2f-7a28-4223-ae5e-492a33aa6b16"},{"parameters":{"method":"POST","url":"http://kreativ_evolution:8080/typebot/changeStatus/europs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  remoteJid: $json.phone + \"@s.whatsapp.net\",\n  status: \"paused\"\n}) }}","options":{}},"name":"Human: Pausar Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,0],"id":"81e59fc4-9ac9-4d08-bb76-46b6d8e48cb7"},{"parameters":{"jsCode":"return [{ json: { success: true, message: 'Tutor solicitado e bot pausado' } }];"},"name":"Human: Finalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,0],"id":"d8cf776b-133d-4a18-8e80-809a58431903"},{"parameters":{"operation":"executeQuery","query":"SELECT m.id, m.module_number, m.title, m.description, m.content_text,\n       m.quiz_questions, m.passing_score, m.media_urls,\n       (SELECT count(*)::int FROM modules\n        WHERE course_int_id = s.course_id\n          AND is_published = TRUE) as total_modules\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id\n  AND m.module_number = {{ $json.module_number || 1 }}\n  AND m.is_published = TRUE\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Module: Buscar Dados","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,208],"id":"28703ac3-b6eb-40dd-b1b7-7e87963945a0","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"jsCode":"const row = $json;\nif (!row.id) return [{ json: { error: 'Módulo não encontrado', skip_ai: true } }];\n\nconst systemPrompt = `Você é um instrutor da Kreativ Educação.\\nBaseado no CONTEÚDO DO MÓDULO abaixo, gere 3 perguntas discursivas para avaliar o conhecimento do aluno.\\n\\nRegras:\\n1. Retorne APENAS um JSON no formato: [{\"question\": \"pergunta 1\"}, {\"question\": \"pergunta 2\"}, {\"question\": \"pergunta 3\"}]\\n2. Perguntas devem ser curtas e diretas em português.\\n3. NÃO adicione texto explicativo fora do JSON.`;\n\nconst userMsg = `MÓDULO: ${row.title}\\nCONTEÚDO: ${row.content_text}`;\n\nreturn [{ json: {\n  ...row,\n  skip_ai: false,\n  dsModel: 'deepseek-chat',\n  dsMessages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userMsg }\n  ]\n} }];"},"name":"Module: Prompt AI Quiz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,208],"id":"36fb031e-1345-4094-a616-f839e16e2277"},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: $json.dsModel, messages: $json.dsMessages, temperature: 0.5, response_format: { type: 'json_object' } } }}","options":{}},"name":"Module: DeepSeek Generate Quiz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,208],"id":"1fbca3e3-ec98-4fc2-8d38-d2c75c742b9a","continueOnFail":true},{"parameters":{"jsCode":"const row = $('Module: Prompt AI Quiz').first().json;\nconst aiRaw = $json;\n\nlet quiz_questions = [];\ntry {\n  const content = aiRaw.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  quiz_questions = Array.isArray(parsed) ? parsed : (parsed.questions || []);\n} catch (e) {\n  quiz_questions = [\n    { question: 'O que você aprendeu de mais importante neste módulo?' },\n    { question: 'Como você aplicaria este conhecimento na prática?' },\n    { question: 'Quais dúvidas ainda restam sobre o conteúdo?' }\n  ];\n}\n\nconst contentStr = row.content_text || '';\n\nreturn [{ json: {\n  module_number: row.module_number,\n  title: row.title,\n  description: row.description,\n  content_text: contentStr,\n  passing_score: row.passing_score || 70,\n  total_modules: row.total_modules || 1,\n  quiz_questions,\n  total_questions: quiz_questions.length,\n  question_1: (quiz_questions[0] || {}).question || '',\n  question_2: (quiz_questions[1] || {}).question || '',\n  question_3: (quiz_questions[2] || {}).question || ''\n} }];"},"name":"Module: Finalizar Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,208],"id":"9c47c3a7-f4c4-4717-af77-4462d1458088"},{"parameters":{"operation":"executeQuery","query":"SELECT s.name, s.phone, s.current_module, s.completed_modules,\n       s.portal_token, c.name as course_name,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules,\n       to_char(s.created_at, 'DD/MM/YYYY') as enrolled_at\nFROM students s\nLEFT JOIN courses c ON c.id = s.course_id\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Progress: Buscar DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,400],"id":"f0c25b42-3ba9-451e-916d-2b394bf072ea","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"jsCode":"const row = $json;\nif (!row.phone) return [{ json: { error: 'Aluno não encontrado' } }];\n\nconst completed = Array.isArray(row.completed_modules) ? row.completed_modules.length : 0;\nconst total = row.total_modules || 1;\nconst pct = Math.round((completed / total) * 100);\n\nreturn [{ json: {\n  ...row,\n  completed_modules: completed,\n  completion_pct: pct\n} }];"},"name":"Progress: Calcular","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,400],"id":"b5ad66c0-3c1a-494f-9ee7-a311556a94e5"},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/ai-tutor-v3","sendBody":true,"specifyBody":"json","jsonBody":"={{ { phone: $json.phone, body: $json.message || $json.body || 'Oi' } }}","options":{}},"name":"AI Tutor: Proxy Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,800],"id":"eb043fcb-3c46-428a-966f-17daf135072f"},{"parameters":{"url":"={{ $json.fileUrl }}","options":{}},"name":"RAG: Download PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1008],"id":"9bf18c88-cf64-4003-a066-da133ac244c5"},{"parameters":{"operation":"pdf","options":{}},"name":"RAG: Extrair Texto","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1024,1008],"id":"e6b980e4-fd3a-4ac9-a0cc-46b93fc1f69d"},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/rag-ingest","sendBody":true,"specifyBody":"json","jsonBody":"={{ { content: $json.text, fileName: \"upload_via_bot.pdf\", course_int_id: $('Normalizar Input').first().json.course_id || 19 } }}","options":{}},"name":"RAG: Ingerir no DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,1008],"id":"bfffbd35-7308-4d2c-8422-3116fc198f51"},{"parameters":{"jsCode":"return [{ json: { success: true, message: 'PDF processado e ingerido com sucesso no banco de conhecimento.' } }];"},"name":"Finalizar Ação","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,800],"id":"15c3e41f-8bd0-4655-923a-78aea5f84d0b"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"name":"Responder Typebot","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1808,208],"id":"e2518fda-990a-4547-87b5-d9127c57ea33"},{"parameters":{"operation":"executeQuery","query":"SELECT m.module_number, m.title, m.content_text, m.passing_score,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id AND m.module_number = {{ $json.module_number || 1 }}\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Quiz: Buscar Contexto","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,608],"id":"7f6dbae9-733d-4b6c-bb89-f63313a39f1c","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const input = $('Normalizar Input').first().json;\nconst ctx = $json;\n\nconst sysPrompt = `Você é um avaliador pedagógico da Kreativ Educação.\nAvalie as respostas do aluno ao módulo \"${ctx.title}\".\n\nCritérios:\n- Analise a compreensão dos conceitos\n- Atribua score de 0 a 100\n- Feedback construtivo em português (máximo 3 frases)\n- Se o aluno não soube responder, incentive a revisão\n\nRetorne APENAS JSON: {\"score\": número, \"feedback\": \"texto\"}`;\n\nconst userMsg = [\n  `P1: ${input.question_1}\\nR1: ${input.answer_1 || '(sem resposta)'}`,\n  `P2: ${input.question_2}\\nR2: ${input.answer_2 || '(sem resposta)'}`,\n  `P3: ${input.question_3}\\nR3: ${input.answer_3 || '(sem resposta)'}`\n].join('\\n\\n');\n\nreturn [{ json: {\n  ...ctx,\n  input,\n  dsMessages: [\n    { role: 'system', content: sysPrompt },\n    { role: 'user', content: userMsg }\n  ]\n} }];"},"name":"Quiz: Prompt Avaliar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,608],"id":"60a57b27-e850-4958-bb83-cf67fe7b133f"},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: 'deepseek-chat', messages: $json.dsMessages, temperature: 0.3, response_format: { type: 'json_object' } } }}","options":{}},"name":"Quiz: DeepSeek Avaliar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,608],"id":"784ecaea-16c4-4803-b482-57d245921d8d","continueOnFail":true},{"parameters":{"jsCode":"const ctx = $('Quiz: Prompt Avaliar').first().json;\nconst aiRaw = $json;\n\nlet score = 50, feedback = 'Suas respostas foram recebidas! Continue revisando o conteúdo.';\ntry {\n  const content = aiRaw.choices[0].message.content;\n  const parsed = JSON.parse(content.replace(/```json|```/g, '').trim());\n  score = parsed.score || 50;\n  feedback = parsed.feedback || feedback;\n} catch (e) { /* fallback */ }\n\nconst passing_score = ctx.passing_score || 70;\nconst passed = score >= passing_score;\nconst module_number = parseInt(ctx.input.module_number || 1);\nconst total_modules = ctx.total_modules || 1;\nconst is_last_module = module_number >= total_modules;\nconst next_module = is_last_module ? null : module_number + 1;\n\nreturn [{ json: {\n  phone: ctx.input.phone,\n  module_number,\n  score,\n  feedback,\n  passed,\n  passing_score,\n  module_complete: passed,\n  is_last_module,\n  next_module,\n  total_modules\n} }];"},"name":"Quiz: Processar Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,608],"id":"70d7c83c-1d84-4496-a114-31f7fcb553c9"},{"parameters":{"operation":"executeQuery","query":"UPDATE students SET\n  scores = COALESCE(scores, '{}') || jsonb_build_object('module_{{ $json.module_number }}', {{ $json.score }}::int),\n  completed_modules = CASE\n    WHEN '{{ $json.passed }}'='true' AND NOT ({{ $json.module_number }}::int = ANY(COALESCE(completed_modules, '{}'::int[])))\n    THEN array_append(COALESCE(completed_modules, '{}'::int[]), {{ $json.module_number }}::int)\n    ELSE COALESCE(completed_modules, '{}'::int[])\n  END,\n  current_module = CASE\n    WHEN '{{ $json.passed }}'='true' AND '{{ $json.is_last_module }}'='false'\n    THEN {{ $json.next_module || $json.module_number }}::int\n    ELSE current_module\n  END,\n  updated_at = NOW()\nWHERE phone = '{{ $json.phone }}'","options":{}},"name":"Quiz: Atualizar Progresso","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,608],"id":"ffbab6c1-3c2d-404e-b044-4e62998166f8","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO certificates (student_id, course_id, module_number, module_name, verification_code)\nSELECT s.id, s.course_id::text, {{ $json.module_number || 1 }}::int,\n       m.title, encode(gen_random_bytes(12), 'hex')\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id AND m.module_number = {{ $json.module_number || 1 }}\nWHERE s.phone = '{{ $json.phone }}'\nON CONFLICT DO NOTHING\nRETURNING id::text, verification_code, module_name","options":{}},"name":"Cert: Inserir DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,800],"id":"35a7632c-8e78-4dd1-840d-a73f64cdfa15","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst input = $('Normalizar Input').first().json;\nif (!rows || !rows[0]?.json?.id) {\n  // Query the existing cert\n  return [{ json: { error: 'Certificado não encontrado ou já emitido', success: false } }];\n}\nconst cert = rows[0].json;\nconst certUrl = `https://portal.extensionista.site/certificado/${cert.verification_code}`;\nreturn [{ json: {\n  success: true,\n  cert_id: cert.id,\n  cert_url: certUrl,\n  verification_code: cert.verification_code,\n  module_name: cert.module_name\n} }];"},"name":"Cert: Formatar URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,800],"id":"38423c27-90e5-48b9-9410-ff2d26b48978"}],"connections":{"Webhook API":{"main":[[{"node":"Normalizar Input","type":"main","index":0}]]},"Normalizar Input":{"main":[[{"node":"Roteador de Ações","type":"main","index":0}]]},"Roteador de Ações":{"main":[[{"node":"Check: Buscar Aluno","type":"main","index":0}],[{"node":"Human: Atualizar DB","type":"main","index":0}],[{"node":"Module: Buscar Dados","type":"main","index":0}],[{"node":"Progress: Buscar DB","type":"main","index":0}],[{"node":"Quiz: Buscar Contexto","type":"main","index":0}],[{"node":"AI Tutor: Proxy Request","type":"main","index":0}],[{"node":"RAG: Download PDF","type":"main","index":0}],[{"node":"Cert: Inserir DB","type":"main","index":0}]]},"Check: Buscar Aluno":{"main":[[{"node":"Check: Formatar Resposta","type":"main","index":0}]]},"Check: Formatar Resposta":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Human: Atualizar DB":{"main":[[{"node":"Human: Chatwoot Flow","type":"main","index":0}]]},"Human: Chatwoot Flow":{"main":[[{"node":"Human: Pausar Typebot","type":"main","index":0}]]},"Human: Pausar Typebot":{"main":[[{"node":"Human: Finalizar","type":"main","index":0}]]},"Human: Finalizar":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"Module: Buscar Dados":{"main":[[{"node":"Module: Prompt AI Quiz","type":"main","index":0}]]},"Module: Prompt AI Quiz":{"main":[[{"node":"Module: DeepSeek Generate Quiz","type":"main","index":0}]]},"Module: DeepSeek Generate Quiz":{"main":[[{"node":"Module: Finalizar Dados","type":"main","index":0}]]},"Module: Finalizar Dados":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Progress: Buscar DB":{"main":[[{"node":"Progress: Calcular","type":"main","index":0}]]},"Progress: Calcular":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"AI Tutor: Proxy Request":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"RAG: Download PDF":{"main":[[{"node":"RAG: Extrair Texto","type":"main","index":0}]]},"RAG: Extrair Texto":{"main":[[{"node":"RAG: Ingerir no DB","type":"main","index":0}]]},"RAG: Ingerir no DB":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"Finalizar Ação":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Quiz: Buscar Contexto":{"main":[[{"node":"Quiz: Prompt Avaliar","type":"main","index":0}]]},"Quiz: Prompt Avaliar":{"main":[[{"node":"Quiz: DeepSeek Avaliar","type":"main","index":0}]]},"Quiz: DeepSeek Avaliar":{"main":[[{"node":"Quiz: Processar Resultado","type":"main","index":0}]]},"Quiz: Processar Resultado":{"main":[[{"node":"Quiz: Atualizar Progresso","type":"main","index":0}]]},"Quiz: Atualizar Progresso":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Cert: Inserir DB":{"main":[[{"node":"Cert: Formatar URL","type":"main","index":0}]]},"Cert: Formatar URL":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a0e2acfa-d6f2-4513-ac4d-e3f6571760c1","activeVersionId":"a0e2acfa-d6f2-4513-ac4d-e3f6571760c1","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T11:31:35.813Z","createdAt":"2026-02-21T11:31:35.813Z","role":"workflow:owner","workflowId":"tOGGjrzk3ZImsK81","projectId":"q7Bjn5D4LxM4OjYW","project":{"updatedAt":"2026-02-17T20:41:01.829Z","createdAt":"2026-02-17T20:32:16.109Z","id":"q7Bjn5D4LxM4OjYW","name":"Rafael da Silva <rafael.luciano@mail.uft.edu.br>","type":"personal","icon":null,"description":null,"creatorId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-21T19:58:01.737Z","createdAt":"2026-02-21T19:58:01.737Z","versionId":"a0e2acfa-d6f2-4513-ac4d-e3f6571760c1","workflowId":"tOGGjrzk3ZImsK81","nodes":[{"parameters":{"httpMethod":"POST","path":"kreativ-unified-api","responseMode":"responseNode","options":{}},"name":"Webhook API","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"kreativ-unified-api-id","id":"c17e251c-8b7f-42d0-b909-f6d40fc662a6"},{"parameters":{"jsCode":"const body = $json.body || $json;\nconst phone = String(body.phone || '').replace(/\\D/g, '');\nconst action = body.action || 'check_student';\n\nreturn [{ json: { ...body, phone, action } }];"},"name":"Normalizar Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"961797f1-13f9-4a19-9cd3-60c6ef54e941"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"check_student","operator":{"type":"string","operation":"equals"},"id":"d7ec4d9b-55df-4879-9d42-92d2aae0bc81"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"request_human","operator":{"type":"string","operation":"equals"},"id":"840657e4-bbd8-44ab-b833-65b323ecf2e6"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"get_module","operator":{"type":"string","operation":"equals"},"id":"f221c316-6508-4d5c-91bc-dd9ffe24eb5a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"get_progress","operator":{"type":"string","operation":"equals"},"id":"919cc4d1-d8eb-4392-a6e1-9ff88251e9e1"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"submit_quiz","operator":{"type":"string","operation":"equals"},"id":"a1dff233-cf5b-43a5-bd79-7ddfa8cb4032"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"ai_tutor","operator":{"type":"string","operation":"equals"},"id":"aec41610-bec7-4e7a-b5b3-35ac0fd50300"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"rag_ingest","operator":{"type":"string","operation":"equals"},"id":"7e3c55ea-05d1-45ac-b46c-57ce616034ee"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"emit_certificate","operator":{"type":"string","operation":"equals"},"id":"728f6081-3876-469e-87b6-e2ccd6ba5a44"}],"combinator":"and"}}]},"options":{}},"name":"Roteador de Ações","type":"n8n-nodes-base.switch","typeVersion":3,"position":[448,0],"id":"ccf32f4a-1b7e-46fe-a4b5-0e505f3a283d"},{"parameters":{"operation":"executeQuery","query":"SELECT s.id, s.name, s.phone, s.course_id, s.current_module,\n       s.completed_modules, s.portal_token, s.lead_score,\n       c.name as course_name,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules,\n       COALESCE(h.status, s.attendance_status) as status\nFROM students s\nLEFT JOIN courses c ON c.id = s.course_id\nLEFT JOIN handoff_control h ON h.phone = s.phone\nWHERE s.phone = '{{ $json.phone }}'\n   OR (length('{{ $json.phone }}') = 12\n       AND s.phone = concat(left('{{ $json.phone }}', 2), '9', right('{{ $json.phone }}', 10)))\nLIMIT 1","options":{}},"name":"Check: Buscar Aluno","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-208],"id":"0ffb8379-5613-4a29-8e92-e5199142b810","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst input = $('Normalizar Input').first().json;\n\nif (!rows || rows.length === 0 || !rows[0].json.id) {\n  return [{ json: { status: 'unknown', phone: input.phone } }];\n}\n\nconst row = rows[0].json;\nconst status = row.status || 'bot';\n\nif (status === 'human') {\n  return [{ json: { status: 'human', phone: input.phone } }];\n}\n\nconst completed = Array.isArray(row.completed_modules) ? row.completed_modules.length : 0;\nconst total = row.total_modules || 1;\nconst pct = Math.round((completed / total) * 100);\nconst is_last_module = row.current_module >= total;\nconst course_completed = completed >= total;\n\nreturn [{ json: {\n  status: 'bot',\n  id: row.id,\n  name: row.name || 'Aluno',\n  first_name: (row.name || 'Aluno').split(' ')[0],\n  phone: row.phone,\n  course_id: row.course_id,\n  course_name: row.course_name,\n  current_module: row.current_module,\n  completed_modules: row.completed_modules || [],\n  total_modules: total,\n  progress_pct: pct,\n  is_last_module,\n  course_completed,\n  portal_token: row.portal_token,\n  lead_score: row.lead_score || 0\n} }];"},"name":"Check: Formatar Resposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-208],"id":"382c145a-d84f-48f7-93e8-a8c700d1fccb"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO handoff_control (phone, status, last_handoff)\nVALUES ('{{ $json.phone }}', 'human', NOW())\nON CONFLICT (phone) DO UPDATE SET status = 'human', last_handoff = NOW();\n\nUPDATE students SET attendance_status = 'human', updated_at = NOW()\nWHERE phone = '{{ $json.phone }}';\n\nINSERT INTO support_sessions (student_id, reason)\nSELECT id, '{{ ($json.reason || \"Solicitação via Typebot\") | replace(\"'\", \"''\") }}'\nFROM students\nWHERE phone = '{{ $json.phone }}'\nLIMIT 1;","options":{}},"name":"Human: Atualizar DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,0],"id":"32f91a7d-5a68-4ab3-834b-4ab65bf05d86","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/request-human-support","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"name":"Human: Chatwoot Flow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,0],"id":"d0a12f2f-7a28-4223-ae5e-492a33aa6b16"},{"parameters":{"method":"POST","url":"http://kreativ_evolution:8080/typebot/changeStatus/europs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  remoteJid: $json.phone + \"@s.whatsapp.net\",\n  status: \"paused\"\n}) }}","options":{}},"name":"Human: Pausar Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,0],"id":"81e59fc4-9ac9-4d08-bb76-46b6d8e48cb7"},{"parameters":{"jsCode":"return [{ json: { success: true, message: 'Tutor solicitado e bot pausado' } }];"},"name":"Human: Finalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,0],"id":"d8cf776b-133d-4a18-8e80-809a58431903"},{"parameters":{"operation":"executeQuery","query":"SELECT m.id, m.module_number, m.title, m.description, m.content_text,\n       m.quiz_questions, m.passing_score, m.media_urls,\n       (SELECT count(*)::int FROM modules\n        WHERE course_int_id = s.course_id\n          AND is_published = TRUE) as total_modules\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id\n  AND m.module_number = {{ $json.module_number || 1 }}\n  AND m.is_published = TRUE\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Module: Buscar Dados","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,208],"id":"28703ac3-b6eb-40dd-b1b7-7e87963945a0","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"jsCode":"const row = $json;\nif (!row.id) return [{ json: { error: 'Módulo não encontrado', skip_ai: true } }];\n\nconst systemPrompt = `Você é um instrutor da Kreativ Educação.\\nBaseado no CONTEÚDO DO MÓDULO abaixo, gere 3 perguntas discursivas para avaliar o conhecimento do aluno.\\n\\nRegras:\\n1. Retorne APENAS um JSON no formato: [{\"question\": \"pergunta 1\"}, {\"question\": \"pergunta 2\"}, {\"question\": \"pergunta 3\"}]\\n2. Perguntas devem ser curtas e diretas em português.\\n3. NÃO adicione texto explicativo fora do JSON.`;\n\nconst userMsg = `MÓDULO: ${row.title}\\nCONTEÚDO: ${row.content_text}`;\n\nreturn [{ json: {\n  ...row,\n  skip_ai: false,\n  dsModel: 'deepseek-chat',\n  dsMessages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userMsg }\n  ]\n} }];"},"name":"Module: Prompt AI Quiz","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,208],"id":"36fb031e-1345-4094-a616-f839e16e2277"},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: $json.dsModel, messages: $json.dsMessages, temperature: 0.5, response_format: { type: 'json_object' } } }}","options":{}},"name":"Module: DeepSeek Generate Quiz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,208],"id":"1fbca3e3-ec98-4fc2-8d38-d2c75c742b9a","continueOnFail":true},{"parameters":{"jsCode":"const row = $('Module: Prompt AI Quiz').first().json;\nconst aiRaw = $json;\n\nlet quiz_questions = [];\ntry {\n  const content = aiRaw.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  quiz_questions = Array.isArray(parsed) ? parsed : (parsed.questions || []);\n} catch (e) {\n  quiz_questions = [\n    { question: 'O que você aprendeu de mais importante neste módulo?' },\n    { question: 'Como você aplicaria este conhecimento na prática?' },\n    { question: 'Quais dúvidas ainda restam sobre o conteúdo?' }\n  ];\n}\n\nconst contentStr = row.content_text || '';\n\nreturn [{ json: {\n  module_number: row.module_number,\n  title: row.title,\n  description: row.description,\n  content_text: contentStr,\n  passing_score: row.passing_score || 70,\n  total_modules: row.total_modules || 1,\n  quiz_questions,\n  total_questions: quiz_questions.length,\n  question_1: (quiz_questions[0] || {}).question || '',\n  question_2: (quiz_questions[1] || {}).question || '',\n  question_3: (quiz_questions[2] || {}).question || ''\n} }];"},"name":"Module: Finalizar Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,208],"id":"9c47c3a7-f4c4-4717-af77-4462d1458088"},{"parameters":{"operation":"executeQuery","query":"SELECT s.name, s.phone, s.current_module, s.completed_modules,\n       s.portal_token, c.name as course_name,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules,\n       to_char(s.created_at, 'DD/MM/YYYY') as enrolled_at\nFROM students s\nLEFT JOIN courses c ON c.id = s.course_id\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Progress: Buscar DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,400],"id":"f0c25b42-3ba9-451e-916d-2b394bf072ea","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"jsCode":"const row = $json;\nif (!row.phone) return [{ json: { error: 'Aluno não encontrado' } }];\n\nconst completed = Array.isArray(row.completed_modules) ? row.completed_modules.length : 0;\nconst total = row.total_modules || 1;\nconst pct = Math.round((completed / total) * 100);\n\nreturn [{ json: {\n  ...row,\n  completed_modules: completed,\n  completion_pct: pct\n} }];"},"name":"Progress: Calcular","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,400],"id":"b5ad66c0-3c1a-494f-9ee7-a311556a94e5"},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/ai-tutor-v3","sendBody":true,"specifyBody":"json","jsonBody":"={{ { phone: $json.phone, body: $json.message || $json.body || 'Oi' } }}","options":{}},"name":"AI Tutor: Proxy Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,800],"id":"eb043fcb-3c46-428a-966f-17daf135072f"},{"parameters":{"url":"={{ $json.fileUrl }}","options":{}},"name":"RAG: Download PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1008],"id":"9bf18c88-cf64-4003-a066-da133ac244c5"},{"parameters":{"operation":"pdf","options":{}},"name":"RAG: Extrair Texto","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1024,1008],"id":"e6b980e4-fd3a-4ac9-a0cc-46b93fc1f69d"},{"parameters":{"method":"POST","url":"http://kreativ_n8n:5678/webhook/rag-ingest","sendBody":true,"specifyBody":"json","jsonBody":"={{ { content: $json.text, fileName: \"upload_via_bot.pdf\", course_int_id: $('Normalizar Input').first().json.course_id || 19 } }}","options":{}},"name":"RAG: Ingerir no DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,1008],"id":"bfffbd35-7308-4d2c-8422-3116fc198f51"},{"parameters":{"jsCode":"return [{ json: { success: true, message: 'PDF processado e ingerido com sucesso no banco de conhecimento.' } }];"},"name":"Finalizar Ação","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,800],"id":"15c3e41f-8bd0-4655-923a-78aea5f84d0b"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"name":"Responder Typebot","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1808,208],"id":"e2518fda-990a-4547-87b5-d9127c57ea33"},{"parameters":{"operation":"executeQuery","query":"SELECT m.module_number, m.title, m.content_text, m.passing_score,\n       (SELECT count(*)::int FROM modules WHERE course_int_id = s.course_id AND is_published = TRUE) as total_modules\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id AND m.module_number = {{ $json.module_number || 1 }}\nWHERE s.phone = '{{ $json.phone }}'\nLIMIT 1","options":{}},"name":"Quiz: Buscar Contexto","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,608],"id":"7f6dbae9-733d-4b6c-bb89-f63313a39f1c","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const input = $('Normalizar Input').first().json;\nconst ctx = $json;\n\nconst sysPrompt = `Você é um avaliador pedagógico da Kreativ Educação.\nAvalie as respostas do aluno ao módulo \"${ctx.title}\".\n\nCritérios:\n- Analise a compreensão dos conceitos\n- Atribua score de 0 a 100\n- Feedback construtivo em português (máximo 3 frases)\n- Se o aluno não soube responder, incentive a revisão\n\nRetorne APENAS JSON: {\"score\": número, \"feedback\": \"texto\"}`;\n\nconst userMsg = [\n  `P1: ${input.question_1}\\nR1: ${input.answer_1 || '(sem resposta)'}`,\n  `P2: ${input.question_2}\\nR2: ${input.answer_2 || '(sem resposta)'}`,\n  `P3: ${input.question_3}\\nR3: ${input.answer_3 || '(sem resposta)'}`\n].join('\\n\\n');\n\nreturn [{ json: {\n  ...ctx,\n  input,\n  dsMessages: [\n    { role: 'system', content: sysPrompt },\n    { role: 'user', content: userMsg }\n  ]\n} }];"},"name":"Quiz: Prompt Avaliar","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,608],"id":"60a57b27-e850-4958-bb83-cf67fe7b133f"},{"parameters":{"method":"POST","url":"https://api.deepseek.com/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sk-412552782fbe4009a25a013825e6ab66"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { model: 'deepseek-chat', messages: $json.dsMessages, temperature: 0.3, response_format: { type: 'json_object' } } }}","options":{}},"name":"Quiz: DeepSeek Avaliar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,608],"id":"784ecaea-16c4-4803-b482-57d245921d8d","continueOnFail":true},{"parameters":{"jsCode":"const ctx = $('Quiz: Prompt Avaliar').first().json;\nconst aiRaw = $json;\n\nlet score = 50, feedback = 'Suas respostas foram recebidas! Continue revisando o conteúdo.';\ntry {\n  const content = aiRaw.choices[0].message.content;\n  const parsed = JSON.parse(content.replace(/```json|```/g, '').trim());\n  score = parsed.score || 50;\n  feedback = parsed.feedback || feedback;\n} catch (e) { /* fallback */ }\n\nconst passing_score = ctx.passing_score || 70;\nconst passed = score >= passing_score;\nconst module_number = parseInt(ctx.input.module_number || 1);\nconst total_modules = ctx.total_modules || 1;\nconst is_last_module = module_number >= total_modules;\nconst next_module = is_last_module ? null : module_number + 1;\n\nreturn [{ json: {\n  phone: ctx.input.phone,\n  module_number,\n  score,\n  feedback,\n  passed,\n  passing_score,\n  module_complete: passed,\n  is_last_module,\n  next_module,\n  total_modules\n} }];"},"name":"Quiz: Processar Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,608],"id":"70d7c83c-1d84-4496-a114-31f7fcb553c9"},{"parameters":{"operation":"executeQuery","query":"UPDATE students SET\n  scores = COALESCE(scores, '{}') || jsonb_build_object('module_{{ $json.module_number }}', {{ $json.score }}::int),\n  completed_modules = CASE\n    WHEN '{{ $json.passed }}'='true' AND NOT ({{ $json.module_number }}::int = ANY(COALESCE(completed_modules, '{}'::int[])))\n    THEN array_append(COALESCE(completed_modules, '{}'::int[]), {{ $json.module_number }}::int)\n    ELSE COALESCE(completed_modules, '{}'::int[])\n  END,\n  current_module = CASE\n    WHEN '{{ $json.passed }}'='true' AND '{{ $json.is_last_module }}'='false'\n    THEN {{ $json.next_module || $json.module_number }}::int\n    ELSE current_module\n  END,\n  updated_at = NOW()\nWHERE phone = '{{ $json.phone }}'","options":{}},"name":"Quiz: Atualizar Progresso","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,608],"id":"ffbab6c1-3c2d-404e-b044-4e62998166f8","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO certificates (student_id, course_id, module_number, module_name, verification_code)\nSELECT s.id, s.course_id::text, {{ $json.module_number || 1 }}::int,\n       m.title, encode(gen_random_bytes(12), 'hex')\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id AND m.module_number = {{ $json.module_number || 1 }}\nWHERE s.phone = '{{ $json.phone }}'\nON CONFLICT DO NOTHING\nRETURNING id::text, verification_code, module_name","options":{}},"name":"Cert: Inserir DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,800],"id":"35a7632c-8e78-4dd1-840d-a73f64cdfa15","credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}},"continueOnFail":true},{"parameters":{"jsCode":"const rows = $input.all();\nconst input = $('Normalizar Input').first().json;\nif (!rows || !rows[0]?.json?.id) {\n  // Query the existing cert\n  return [{ json: { error: 'Certificado não encontrado ou já emitido', success: false } }];\n}\nconst cert = rows[0].json;\nconst certUrl = `https://portal.extensionista.site/certificado/${cert.verification_code}`;\nreturn [{ json: {\n  success: true,\n  cert_id: cert.id,\n  cert_url: certUrl,\n  verification_code: cert.verification_code,\n  module_name: cert.module_name\n} }];"},"name":"Cert: Formatar URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,800],"id":"38423c27-90e5-48b9-9410-ff2d26b48978"}],"connections":{"Webhook API":{"main":[[{"node":"Normalizar Input","type":"main","index":0}]]},"Normalizar Input":{"main":[[{"node":"Roteador de Ações","type":"main","index":0}]]},"Roteador de Ações":{"main":[[{"node":"Check: Buscar Aluno","type":"main","index":0}],[{"node":"Human: Atualizar DB","type":"main","index":0}],[{"node":"Module: Buscar Dados","type":"main","index":0}],[{"node":"Progress: Buscar DB","type":"main","index":0}],[{"node":"Quiz: Buscar Contexto","type":"main","index":0}],[{"node":"AI Tutor: Proxy Request","type":"main","index":0}],[{"node":"RAG: Download PDF","type":"main","index":0}],[{"node":"Cert: Inserir DB","type":"main","index":0}]]},"Check: Buscar Aluno":{"main":[[{"node":"Check: Formatar Resposta","type":"main","index":0}]]},"Check: Formatar Resposta":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Human: Atualizar DB":{"main":[[{"node":"Human: Chatwoot Flow","type":"main","index":0}]]},"Human: Chatwoot Flow":{"main":[[{"node":"Human: Pausar Typebot","type":"main","index":0}]]},"Human: Pausar Typebot":{"main":[[{"node":"Human: Finalizar","type":"main","index":0}]]},"Human: Finalizar":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"Module: Buscar Dados":{"main":[[{"node":"Module: Prompt AI Quiz","type":"main","index":0}]]},"Module: Prompt AI Quiz":{"main":[[{"node":"Module: DeepSeek Generate Quiz","type":"main","index":0}]]},"Module: DeepSeek Generate Quiz":{"main":[[{"node":"Module: Finalizar Dados","type":"main","index":0}]]},"Module: Finalizar Dados":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Progress: Buscar DB":{"main":[[{"node":"Progress: Calcular","type":"main","index":0}]]},"Progress: Calcular":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"AI Tutor: Proxy Request":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"RAG: Download PDF":{"main":[[{"node":"RAG: Extrair Texto","type":"main","index":0}]]},"RAG: Extrair Texto":{"main":[[{"node":"RAG: Ingerir no DB","type":"main","index":0}]]},"RAG: Ingerir no DB":{"main":[[{"node":"Finalizar Ação","type":"main","index":0}]]},"Finalizar Ação":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Quiz: Buscar Contexto":{"main":[[{"node":"Quiz: Prompt Avaliar","type":"main","index":0}]]},"Quiz: Prompt Avaliar":{"main":[[{"node":"Quiz: DeepSeek Avaliar","type":"main","index":0}]]},"Quiz: DeepSeek Avaliar":{"main":[[{"node":"Quiz: Processar Resultado","type":"main","index":0}]]},"Quiz: Processar Resultado":{"main":[[{"node":"Quiz: Atualizar Progresso","type":"main","index":0}]]},"Quiz: Atualizar Progresso":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]},"Cert: Inserir DB":{"main":[[{"node":"Cert: Formatar URL","type":"main","index":0}]]},"Cert: Formatar URL":{"main":[[{"node":"Responder Typebot","type":"main","index":0}]]}},"authors":"Rafael da Silva","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-21T19:58:01.957Z","id":1479,"workflowId":"tOGGjrzk3ZImsK81","versionId":"a0e2acfa-d6f2-4513-ac4d-e3f6571760c1","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-21T19:58:02.008Z","id":1480,"workflowId":"tOGGjrzk3ZImsK81","versionId":"a0e2acfa-d6f2-4513-ac4d-e3f6571760c1","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}]}}