n8n-workflows/70-wpp-conversation-engine.json
{
    "name": "WPP Conversation Engine (Frappe LMS + Evolution API direto)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "wpp-conversation",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook — Evolution API",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "wpp-conversation-engine"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"received\" }",
                "options": {}
            },
            "id": "respond-immediately",
            "name": "Responder ao Evolution (200 OK)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// NORMALIZAR PAYLOAD DO EVOLUTION API\n// ============================================================\nconst body = $json.body || $json;\nconst event = body.event || '';\n\n// Ignorar eventos que não são mensagens\nif (!['MESSAGES_UPSERT', 'messages.upsert'].includes(event)) {\n  return [{ json: { skip: true, reason: `Evento ignorado: ${event}` } }];\n}\n\nconst data = body.data || {};\nconst msg = data.message || data.messages?.[0] || {};\nconst key = msg.key || data.key || {};\n\n// Ignorar mensagens do próprio bot (fromMe)\nif (key.fromMe === true) {\n  return [{ json: { skip: true, reason: 'fromMe=true' } }];\n}\n\nconst remoteJid = key.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '');\nconst pushName = msg.pushName || data.pushName || '';\nconst instanceName = body.instance || data.instance || 'europs';\n\n// Extrair texto da mensagem (vários formatos possíveis)\nlet messageText = '';\nlet messageType = 'text';\n\nif (msg.message?.conversation) {\n  messageText = msg.message.conversation;\n} else if (msg.message?.extendedTextMessage?.text) {\n  messageText = msg.message.extendedTextMessage.text;\n} else if (msg.message?.interactiveResponseMessage?.body?.text) {\n  // Resposta de botão interativo\n  messageText = msg.message.interactiveResponseMessage.body.text;\n  messageType = 'button_reply';\n} else if (msg.message?.buttonsResponseMessage?.selectedButtonId) {\n  messageText = msg.message.buttonsResponseMessage.selectedDisplayText || msg.message.buttonsResponseMessage.selectedButtonId;\n  messageType = 'button_reply';\n} else if (msg.message?.listResponseMessage?.singleSelectReply?.selectedRowId) {\n  messageText = msg.message.listResponseMessage.singleSelectReply.selectedRowId;\n  messageType = 'list_reply';\n} else if (msg.message?.audioMessage) {\n  messageType = 'audio';\n  messageText = '[audio]';\n}\n\nif (!phone || !messageText) {\n  return [{ json: { skip: true, reason: 'Sem telefone ou mensagem' } }];\n}\n\nreturn [{\n  json: {\n    phone,\n    remoteJid,\n    pushName,\n    instanceName,\n    messageText: messageText.trim(),\n    messageType,\n    timestamp: Date.now()\n  }\n}];"
            },
            "id": "normalize-payload",
            "name": "Normalizar Payload Evolution",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.skip }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-skip",
            "name": "Ignorar evento?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "key": "session:{{ $json.phone }}",
                "options": {}
            },
            "id": "redis-get-session",
            "name": "Redis — Ler sessão",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                880,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// SESSION MANAGER — Determina estado atual do aluno\n// ============================================================\nconst sessionRaw = $('Redis — Ler sessão').first()?.json?.value;\nlet session = {};\n\ntry {\n  session = sessionRaw ? JSON.parse(sessionRaw) : {};\n} catch (e) {\n  session = {};\n}\n\nconst phone = $('Normalizar Payload Evolution').first().json.phone;\nconst messageText = $('Normalizar Payload Evolution').first().json.messageText;\nconst messageType = $('Normalizar Payload Evolution').first().json.messageType;\nconst pushName = $('Normalizar Payload Evolution').first().json.pushName;\nconst instanceName = $('Normalizar Payload Evolution').first().json.instanceName;\n\n// Estado atual da sessão\nconst currentState = session.state || 'new';\nconst studentId = session.studentId || null;\nconst currentModuleId = session.currentModuleId || null;\nconst waitingQuizAnswer = session.waitingQuizAnswer || false;\nconst quizData = session.quizData || null;\n\n// Saudações que iniciam ou reiniciam o fluxo\nconst startTriggers = ['oi', 'olá', 'ola', 'hello', 'hi', 'menu', 'inicio', 'início', 'começar', 'comecar'];\nconst isStart = startTriggers.includes(messageText.toLowerCase());\n\nreturn [{\n  json: {\n    phone,\n    pushName,\n    instanceName,\n    messageText,\n    messageType,\n    currentState: isStart ? 'greeting' : currentState,\n    studentId,\n    currentModuleId,\n    waitingQuizAnswer,\n    quizData,\n    session\n  }\n}];"
            },
            "id": "session-manager",
            "name": "Session Manager",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.currentState }}",
                                        "rightValue": "greeting",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 0
                        },
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.currentState }}",
                                        "rightValue": "studying",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 1
                        },
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.waitingQuizAnswer }}",
                                        "rightValue": true,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 2
                        },
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.messageText }}",
                                        "rightValue": "📊 Meu Progresso",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 3
                        },
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.messageText }}",
                                        "rightValue": "🎓 Certificado",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 4
                        },
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.messageText }}",
                                        "rightValue": "🤝 Falar com Tutor",
                                        "operator": {
                                            "type": "string",
                                            "operation": "contains"
                                        }
                                    }
                                ]
                            },
                            "outputIndex": 5
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": 6
                }
            },
            "id": "state-router",
            "name": "State Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                1320,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://n8n.extensionista.site/webhook/kreativ-unified-api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "check_student"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-student",
            "name": "Unified API — check_student",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                -200
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// MENU PRINCIPAL — Montar mensagem com botões interativos\n// ============================================================\nconst student = $('Unified API — check_student').first().json;\nconst pushName = $('Session Manager').first().json.pushName;\nconst phone = $('Session Manager').first().json.phone;\nconst instanceName = $('Session Manager').first().json.instanceName;\n\nconst isEnrolled = student?.student_id || student?.found;\nconst studentName = student?.name || pushName || 'Aluno';\nconst moduleCurrent = student?.current_module_title || 'Módulo 1';\n\nlet greeting = '';\nconst hour = new Date().getHours();\nif (hour < 12) greeting = '🌅 Bom dia';\nelse if (hour < 18) greeting = '☀️ Boa tarde';\nelse greeting = '🌙 Boa noite';\n\nif (!isEnrolled) {\n  // Aluno não cadastrado\n  return [{\n    json: {\n      phone, instanceName,\n      textMessage: `${greeting}, ${pushName || 'seja bem-vindo'}! 👋\\n\\nSou o *Kre*, assistente educacional da *Kreativ Educação* 🎓\\n\\nPara começar sua jornada de aprendizado, preciso verificar seu cadastro.\\n\\nEntre em contato com nossa equipe:\\n📞 (63) 9937-4165\\n🌐 lms.extensionista.site`,\n      sessionUpdate: { state: 'new', studentId: null }\n    }\n  }];\n}\n\n// Aluno cadastrado — menu principal com botões\nreturn [{\n  json: {\n    phone, instanceName,\n    useButtons: true,\n    textMessage: `${greeting}, *${studentName}*! 🎓\\n\\n📚 *Módulo atual:* ${moduleCurrent}\\n\\nO que você quer fazer hoje?`,\n    buttons: [\n      { buttonId: 'estudar', buttonText: { displayText: '📖 Estudar Módulo' }, type: 1 },\n      { buttonId: 'progresso', buttonText: { displayText: '📊 Meu Progresso' }, type: 1 },\n      { buttonId: 'tutor', buttonText: { displayText: '🤝 Falar com Tutor' }, type: 1 }\n    ],\n    sessionUpdate: {\n      state: 'menu',\n      studentId: student.student_id || student.id,\n      currentModuleId: student.current_module_id\n    }\n  }\n}];"
            },
            "id": "build-menu",
            "name": "Montar Menu Principal",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1760,
                -200
            ]
        },
        {
            "parameters": {
                "url": "https://n8n.extensionista.site/webhook/kreativ-unified-api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "get_module"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $('Session Manager').first().json.phone }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-module",
            "name": "Unified API — get_module",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// HANDLE QUIZ — Avaliar resposta do aluno com DeepSeek\n// ============================================================\nconst session = $('Session Manager').first().json;\nconst phone = session.phone;\nconst instanceName = session.instanceName;\nconst quizData = session.quizData || {};\nconst userAnswer = session.messageText;\n\nreturn [{\n  json: {\n    phone, instanceName,\n    action: 'submit_quiz',\n    userAnswer,\n    quizData,\n    textMessage: '⏳ Avaliando sua resposta...',\n    sessionUpdate: { state: 'menu', waitingQuizAnswer: false }\n  }\n}];"
            },
            "id": "handle-quiz",
            "name": "Handle Quiz Answer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://n8n.extensionista.site/webhook/kreativ-unified-api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "get_progress"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $('Session Manager').first().json.phone }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-progress",
            "name": "Unified API — get_progress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://n8n.extensionista.site/webhook/kreativ-unified-api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "emit_certificate"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $('Session Manager').first().json.phone }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "emit-certificate",
            "name": "Unified API — emit_certificate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                600
            ]
        },
        {
            "parameters": {
                "url": "https://n8n.extensionista.site/webhook/kreativ-unified-api",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "request_human"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $('Session Manager').first().json.phone }}"
                        },
                        {
                            "name": "reason",
                            "value": "Solicitado via WhatsApp pelo aluno"
                        }
                    ]
                },
                "options": {}
            },
            "id": "request-human",
            "name": "Unified API — request_human",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                800
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// AI TUTOR — Mensagem fora do fluxo estruturado\n// ============================================================\nconst session = $('Session Manager').first().json;\nreturn [{\n  json: {\n    phone: session.phone,\n    instanceName: session.instanceName,\n    action: 'ai_tutor',\n    message: session.messageText,\n    textMessage: '🤖 _Analisando sua pergunta..._'\n  }\n}];"
            },
            "id": "ai-tutor-fallback",
            "name": "AI Tutor (fallback)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                1000
            ]
        },
        {
            "parameters": {
                "url": "=https://{{ $json.evolutionApiUrl || 'evolution.extensionista.site' }}/message/sendButtons/{{ $json.instanceName }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $vars.EVOLUTION_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "title",
                            "value": "="
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.textMessage }}"
                        },
                        {
                            "name": "footer",
                            "value": "Kreativ Educação 🎓"
                        },
                        {
                            "name": "buttons",
                            "value": "={{ $json.buttons }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-buttons",
            "name": "Evolution — sendButtons",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2200,
                -200
            ]
        },
        {
            "parameters": {
                "url": "=https://evolution.extensionista.site/message/sendText/{{ $json.instanceName }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $vars.EVOLUTION_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.textMessage) }}\n}",
                "options": {}
            },
            "id": "send-text",
            "name": "Evolution — sendText",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2200,
                200
            ]
        },
        {
            "parameters": {
                "operation": "set",
                "key": "session:{{ $('Session Manager').first().json.phone }}",
                "value": "={{ JSON.stringify($json.sessionUpdate || $('Session Manager').first().json.session) }}",
                "keyType": "automatic",
                "expireTime": 3600,
                "options": {}
            },
            "id": "redis-set-session",
            "name": "Redis — Salvar sessão",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                2400,
                0
            ]
        }
    ],
    "connections": {
        "Webhook — Evolution API": {
            "main": [
                [
                    {
                        "node": "Responder ao Evolution (200 OK)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Normalizar Payload Evolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Payload Evolution": {
            "main": [
                [
                    {
                        "node": "Ignorar evento?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ignorar evento?": {
            "main": [
                [],
                [
                    {
                        "node": "Redis — Ler sessão",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Redis — Ler sessão": {
            "main": [
                [
                    {
                        "node": "Session Manager",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Session Manager": {
            "main": [
                [
                    {
                        "node": "State Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "State Router": {
            "main": [
                [
                    {
                        "node": "Unified API — check_student",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Unified API — get_module",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Quiz Answer",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Unified API — get_progress",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Unified API — emit_certificate",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Unified API — request_human",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Tutor (fallback)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unified API — check_student": {
            "main": [
                [
                    {
                        "node": "Montar Menu Principal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Montar Menu Principal": {
            "main": [
                [
                    {
                        "node": "Evolution — sendButtons",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Redis — Salvar sessão",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveExecutionProgress": false,
        "callerPolicy": "workflowsFromAList"
    },
    "staticData": null,
    "tags": [
        {
            "name": "kreativ-v2"
        },
        {
            "name": "whatsapp"
        },
        {
            "name": "frappe-lms"
        }
    ],
    "active": false
}